#product {

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .save-product-button{
            background-color: #F96D01;
            margin: 0px 20px;
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        table, th, td {
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: center;
            font-weight: normal !important;
            font-size: 12px;
        }

        th {
            background-color: rgba(0, 0, 0, .12);
        }

        .example-container {
            display: flex;
            flex-direction: column;
            max-height: 500px;
            min-width: 300px;
        }

        .example-chip-list {
            width: 100%;
        }

        .mat-table {
            overflow: auto;
            max-height: 500px;
        }

        .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
            margin-right: 10px;
        }

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .list-kota{
          border-bottom: 1px solid;
        }

        .mat-card .mat-divider.mat-divider-inset {
            position: absolute !important;
        }

        .mat-list .mat-list-item .mat-divider.mat-divider-inset {
            left: 0 !important;
            width: 100% !important;
        }

        .mat-grid-tile .mat-figure{
            justify-content: left !important;
        }

        // .mat-grid-tile:hover {
        //     background-color: lightblue;
        // }

        .mat-list .mat-list-item {
            height: unset !important;
        }

        .mat-list .mat-list-item {
            font-size: 13px !important;
        }

        // .mat-list .mat-list-item:hover {
        //     background-color: lightblue;
        // }

        .mat-card-title {
            font-size: 15px !important;
        }

        .mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
            padding-bottom: 10px !important;   
        }

        .mat-card {
            padding: 10px !important;
        }

        .mat-card-subtitle, .mat-card-content, .mat-card-header .mat-card-title {
            font-size: 12px;
        }

    }

}
