<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/user/daftarUser'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Tambah User
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detail User</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button fxHide.xs
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>Simpan</span>
            </button>

            <button mat-raised-button fxHide.xs
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>Simpan</span>
            </button>

            <button mat-raised-button fxHide.xs
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit' && !editPassword" (click)="hapus()">
                <span>Hapus</span>
            </button>

            <button mat-raised-button fxHide.xs
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit' && !editPassword" (click)="ubahPassword()">
                <span>Ubah Password</span>
            </button>

            <button mat-raised-button fxHide.xs
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit' && editPassword" (click)="batalUbahPassword()">
                <span>Batalkan</span>
            </button>

            <button mat-icon-button fxHide fxShow.xs [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item *ngIf="pageType ==='edit' && !editPassword" (click)="hapus()">
                <mat-icon>delete_forever</mat-icon>
                <span>Hapus</span>
              </button>
              <button mat-menu-item *ngIf="pageType ==='edit' && !editPassword" (click)="ubahPassword()">
                <mat-icon>vpn_key</mat-icon>
                <span>Ubah Password</span>
              </button>
              <button mat-menu-item *ngIf="pageType ==='edit' && editPassword" (click)="batalUbahPassword()">
                <mat-icon>cancel</mat-icon>
                <span>Batalkan</span>
              </button>
            </mat-menu>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="username"
                                   formControlName="username"
                                   placeholder="Username"
                                   required>
                              <mat-icon matPrefix> account_circle </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   type="email" 
                                   name="email"
                                   formControlName="email"
                                   placeholder="Email"
                                   required>
                            <mat-icon matPrefix> email </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="name"
                                   formControlName="name"
                                   placeholder="Name"
                                   required>
                            <mat-icon matPrefix> account_circle </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <mat-select formControlName="group" placeholder="Role" (change)="enableRute()">
                                <mat-option [value]="4"> Super Admin </mat-option>
                                <mat-option [value]="3"> Admin </mat-option>
                                <mat-option [value]="2"> Operator Pusat </mat-option>
                                <mat-option [value]="1"> Operator Daerah </mat-option>
                                <mat-option [value]="0"> No Role </mat-option>
                            </mat-select>
                            <mat-icon matPrefix> verified_user </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <mat-select formControlName="rute_id" placeholder="Rute" multiple>
                                    <mat-option *ngFor="let rute of rutes" [value]="rute.id"> 
                                        {{ rute.kota.asal }} - {{ rute.kota.tujuan }} - {{ rute.keterangan }}
                                    </mat-option>
                                </mat-select>
                            <mat-icon matPrefix> navigation </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p" *ngIf="editPassword || pageType ==='new'">
                            <input matInput
                                   type="password"
                                   name="password"
                                   formControlName="password"
                                   placeholder="Password">
                            <mat-icon matPrefix> vpn_key </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p" *ngIf="editPassword || pageType ==='new'">
                            <input matInput
                                   type="password"
                                   name="password_confirmation"
                                   formControlName="password_confirmation"
                                   placeholder="Confirm Password">
                            <mat-icon matPrefix> vpn_key </mat-icon>
                        </mat-form-field>

                    </div>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
