<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">

                <button class="mr-0 mr-sm-16" mat-icon-button (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit' || pageType === 'salin'">
                        {{product.nama}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Daftar Titip Motor
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detail Titipan Motor</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='new'" (click)="addProduct()" fxHide.xs>
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()" fxHide.xs>
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit'" (click)="print(product.no_tiket)" fxHide.xs>
                <span>Print</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit'" (click)="hapus()" fxHide.xs>
                <span>Hapus</span>
            </button>


            <button mat-icon-button fxHide fxShow.xs [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            
            <mat-menu #menu="matMenu">
              <button mat-menu-item [disabled]="productForm.invalid || role < 3"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="hapus()">
                <mat-icon>delete_forever</mat-icon>
                <span>Hapus</span>
              </button>
            </mat-menu>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <mat-form-field class="w-100-p">
                          <mat-select matInput 
                                      formControlName="rute_id" 
                                      placeholder="Rute" 
                                      required>
                            <mat-option *ngFor="let rute of ruteAll" [value]="rute.id"> 
                                {{ rute.kota.asal }} - {{ rute.kota.tujuan }} - {{ rute.keterangan }} 
                            </mat-option>
                          </mat-select>
                          <mat-icon matPrefix> place </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="nama"
                                   formControlName="nama"
                                   placeholder="Nama"
                                   required>
                            <mat-error *ngIf="productForm.controls.nama.invalid">
                              {{productForm.controls.nama.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                            </mat-error>
                            <mat-icon matPrefix> people </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="alamat"
                                   formControlName="alamat"
                                   placeholder="Alamat"
                                   rquired>
                            <mat-error *ngIf="productForm.controls.alamat.invalid">
                              {{productForm.controls.alamat.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                            </mat-error>
                            <mat-icon matPrefix> place </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="no_hp"
                                   formControlName="no_hp"
                                   placeholder="Nomor Hp"
                                   required>
                            <mat-error *ngIf="productForm.controls.no_hp.invalid">
                                 {{productForm.controls.no_hp.errors['required'] ? 'Tidak Boleh Kosong': productForm.controls.no_hp.errors['pattern'] ? 'Format Nomor Telepon Tidak Valid' : ''}}
                            </mat-error>
                            <mat-icon matPrefix> smartphone </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="no_kendaraan"
                                   formControlName="no_kendaraan"
                                   placeholder="Plat Nomor Kendaraan"
                                   required>
                            <mat-hint>Contoh Format Nomor Kendaraan XX-1234-XXX </mat-hint>
                            <mat-error *ngIf="productForm.controls.no_kendaraan.invalid">
                                 {{productForm.controls.no_kendaraan.errors['required'] ? 'Tidak Boleh Kosong': productForm.controls.no_kendaraan.errors['pattern'] ? 'Format Plat Nomor Tidak Valid' : ''}}
                            </mat-error>
                            <mat-icon matPrefix> motorcycle </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="no_ktp"
                                   formControlName="no_ktp"
                                   placeholder="Nomor KTP">
                            <mat-icon matPrefix> credit_card </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="no_sim"
                                   formControlName="no_sim"
                                   placeholder="Nomor SIM">
                            <mat-icon matPrefix> credit_card </mat-icon>
                        </mat-form-field>

                    </div>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
