<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">

                <button class="mr-0 mr-sm-16" mat-icon-button (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit' || pageType === 'salin'">
                        {{content.label}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Tambah Content
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detail Content</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="contentForm.invalid || role < 3"
                    *ngIf="pageType ==='new'" (click)="addContent()" fxHide.xs>
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="saveContent()" fxHide.xs>
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="hapus()" fxHide.xs>
                <span>Hapus</span>
            </button>

            <button mat-icon-button fxHide fxShow.xs [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            
            <mat-menu #menu="matMenu">
              <button mat-menu-item [disabled]="contentForm.invalid || role < 3"
                    *ngIf="pageType ==='new'" (click)="addContent()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="saveContent()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="hapus()">
                <mat-icon>delete_forever</mat-icon>
                <span>Hapus</span>
              </button>
            </mat-menu>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="contentForm" [formGroup]="contentForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="label"
                                   formControlName="label"
                                   placeholder="Label"
                                   required>
                            <mat-error *ngIf="contentForm.controls.label.invalid">
                              {{contentForm.controls.label.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                            </mat-error>
                            <mat-icon matPrefix> description </mat-icon>
                        </mat-form-field>

                        <!-- <mat-form-field class="w-100-p">
                            <input matInput
                                   name="content"
                                   formControlName="content"
                                   placeholder="Content"
                                   rquired>
                            <mat-error *ngIf="contentForm.controls.content.invalid">
                              {{contentForm.controls.content.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                            </mat-error>
                            <mat-icon matPrefix> ballot </mat-icon>
                        </mat-form-field> -->

                        <quill-editor 
                            placeholder="Enter Text"
                            formControlName="content"
                            >
                        </quill-editor>

                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
