@import "src/app/core/scss/fuse";

:host {

    .header {

        .search-input-wrapper {
            max-width: 480px;
        }

        .add-product-button{
            background-color: #F96D01;
        }

        @include media-breakpoint-down(xs) {
            height: 176px !important;
            min-height: 176px !important;
            max-height: 176px !important;
        }
    }

    .top-bg {
        @include media-breakpoint-down(xs) {
            height: 240px;
        }
    }

    .example-container {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .example-loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 56px;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        // overflow: auto;

        .mat-header-row {
            min-height: 35px;
            min-width: 800px;
            background-color: rgba(0, 0, 0, .12);
        }

        .mat-row {
            min-width: 800px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 60px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            // text-align: center;
        }

        .mat-column-rute {
            flex: 0 1 20%;
            display: block !important;
        }

        .mat-column-alamat {
            flex: 0 1 15%;
        }

        .mat-column-id {
            flex: 0 1 5%;
        }

        .mat-column-dewasa, .mat-column-anak, .mat-column-kendaraan {
            display: flex;
            justify-content: center !important;
        }

        .mat-column-nomor_tiket {
            flex: 0 1 8%;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
            margin-top: 10px;
            margin-right: 5px;
        }

        .warning {
            flex: 0 1 5%;
            color: rgb(249, 93, 1) !important;
        }

        .danger {
            flex: 0 1 5%;
            color: rgb(249, 1, 1) !important;
        }
    }
}

// /deep/ .mat-sort-header-button{
//     margin: auto;
// }

// /deep/ .text-truncate {
//     margin: auto;
// }