<h1 matDialogTitle>Confirm</h1>
<div mat-dialog-content *ngIf="data.status">
	Non Aktifkan kendaraan dengan rute {{ data.kendaraan.rute.kota.asal }} - {{ data.kendaraan.rute.kota.tujuan }}, 
	tanggal {{ data.kendaraan.rute.tanggal }} ?
</div>
<div mat-dialog-content *ngIf="!data.status">
	Aktifkan kendaraan dengan rute {{ data.kendaraan.rute.kota.asal }} - {{ data.kendaraan.rute.kota.tujuan }}, 
	tanggal {{ data.kendaraan.rute.tanggal }} ?
</div>
<div mat-dialog-actions class="pt-24">
    <button mat-raised-button class="mat-accent mr-16" (click)="confirm()">Confirm</button>
    <button mat-button (click)="dialogRef.close(data.status ? true : false)">Cancel</button>
</div>
