#product {

    .mat-accent-bg {
        @media print {
            background-color: white !important;
            background-image: none;
        }
    }

    .loading-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    .header {

        @media print {
            display: none !important;
        }

        .product-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .save-product-button{
            margin: 0px 20px;
            background-color: #F96D01;
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .header-print {
            display: none;
            margin: auto !important;
            width: 100%;
            text-align: center;

            @media print {
                display: block;
            }
        }

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-header {
            @media print {
                display: none !important;
            }
        }

        .w-100-p {
            margin-bottom: 8px;
        }

        .w-90-p {
            margin-bottom: 8px;
        }

        .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
            margin-right: 10px;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 35px;
        }

        .mat-tab-header {
            height: 40px;
            align-items: center;
        }

        .mat-grid-tile .mat-figure {
            align-items: left !important;
            justify-content: left !important;
        }

        .save-product-button{
            background-color: #F96D01;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .tabel_kursi {
            width: 100%;
        }

        .kursi {
            width: 15%;
        }

        .detail_kursi {
            width: 15%;
        }

        .kursi_tengah {
            width: 15%;
        }

        table, th, td {
            margin: auto;
            padding: 10px;
            text-align: center;
            border: initial !important;
        }

        td {
            margin-bottom: 6px;
            margin-left: 3px;
            margin-right: 3px;
        }

        .box {
            padding: 13px;
            border: 2px solid rgba(0, 0, 0, 0.12);
            margin: -8px;
            border-radius: 5px;
        }

        .box-detail {
        	text-align: left;
        	font-size: 13px;
        	padding: 2px;
            border: 2px solid rgba(0, 0, 0, 0.12);
            margin: -8px;
            border-radius: 5px;
        }

        .kapital {
        	text-transform: uppercase;
        }

        .small {
        	font-size: 10px !important;
        }

        table {
            width: 100%;
            margin-top: 10px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 5px;
        }

        .non_kursi {
            border: none !important;
            width: 5% !important;
        }

        .available {
            background-color: #2094c8;
        }

        .available:hover {
            border-color: #cecece;
            box-shadow: 1px 1px #cecece;
        }

        .disable {
            background-color: #cecece;
        }

        .reserved {
            background-color: white;
        }

        .keterangan {
            display: flex;
            
            @media print {
                display: none !important;
            }
        }

        .box-keterangan {
            height: 25px;
            width: 25px;
            border: 1px solid rgba(0, 0, 0, 0.12);
        }

        h5 {
            margin: 4px 10px;
        }

    }

    div.content-card.mat-white-bg {

        @media print {
            box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0), 0px 7px 10px 1px rgba(0, 0, 0, 0), 0px 2px 16px 1px rgba(0, 0, 0, 0);
            -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0), 0px 7px 10px 1px rgba(0, 0, 0, 0), 0px 2px 16px 1px rgba(0, 0, 0, 0);
        }
    }

}