<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">

                <button class="mr-0 mr-sm-16" mat-icon-button (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit' && product.rute.kota.asal">
                        {{ product.rute.kota.asal }} - {{ product.rute.kota.tujuan }} - {{ product.nomor}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Tambah Kendaraan
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detail Kendaraan</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="onProcess"
                    *ngIf="pageType ==='new' && !productForm.invalid && !(role < 3)" (click)="addProduct()">
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit' && !productForm.invalid && !(role < 3)" (click)="saveProduct()">
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit' && !(role < 1)" (click)="hapus()">
                <span>Hapus</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="status && pageType ==='edit' && !(role < 1)"
                    (click)="changeStatus()"
                    style="padding-right: 30px !important;">
                Non Aktifkan
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="!status && pageType ==='edit' && !(role < 1)"
                    (click)="changeStatus()">
                Aktifkan
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit' && !(role < 1)"
                    (click)="print()">
                Print
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Info Kendaraan">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                  <mat-select matInput 
                                              formControlName="rute_id" 
                                              placeholder="Rute" 
                                              required>
                                    <mat-option *ngFor="let kota of rute" [value]="kota.id">
                                    	{{kota.kota.asal}} - {{kota.kota.tujuan}} - {{ kota.tanggal.substring(8, 11) }} {{ bulan(kota.tanggal) }} {{ kota.tanggal.substring(0, 4) }} - {{kota.keterangan}}
                                    </mat-option>
                                  </mat-select>
                                  <mat-icon matPrefix> navigation </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p" *ngIf="pageType ==='edit'">
                                    <input matInput
                                           name="nomor"
                                           formControlName="nomor"
                                           placeholder="Nomor"
                                           required>
                                    <mat-icon matPrefix> format_list_numbered </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           type="number" 
                                           name="baris"
                                           formControlName="baris"
                                           placeholder="Baris"
                                           required>
                                    <mat-icon matPrefix> view_list </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           type="number" 
                                           name="kolom"
                                           formControlName="kolom"
                                           placeholder="Kolom"
                                           required>
                                    <mat-icon matPrefix> view_column </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p" 
                                                *ngIf="pageType === 'new'">
                                    <input matInput
                                           type="number" 
                                           name="jumlah"
                                           formControlName="jumlah"
                                           placeholder="Jumlah"
                                           required>
                                    <mat-icon matPrefix> directions_bus </mat-icon>
                                </mat-form-field>

                                <!-- <mat-slide-toggle matInput
                                                  formControlName="status"> 
                                                Aktif 
                                </mat-slide-toggle> -->

                            </div>
                        </mat-tab>

                        <mat-tab label="Kursi" *ngIf="pageType !== 'new' && product.kursis[0]">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                            	<div class="keterangan">
                            		<div class="box-keterangan available"></div>
                            		<h5>Tersedia</h5>
                            		<div class="box-keterangan reserved"></div>
                            		<h5>Sudah Dipesan</h5>
                            		<div class="box-keterangan disable"></div>
                            		<h5>Tidak Aktif</h5>
                                <div class="box-keterangan disable"></div>
                                <h5>Kuota : {{ kuota }} </h5>
                            	</div>

                              	<table class="tabel_kursi" *ngIf="product.kolom == 5">
	                                <tr>
	                                  <!-- supir -->
	                                  <td class="kursi" style="border: 2px solid rgba(0, 0, 0, 0.12) !important;">Pintu Depan</td>
	                                  <td class="non_kursi"></td>
	                                  <td class="non_kursi"></td>
	                                  <td class="non_kursi"></td>
	                                  <td class="non_kursi"></td>
	                                  <td class="kursi" style="border: 2px solid rgba(0, 0, 0, 0.12) !important;">Supir</td>

	                                </tr>

                                    <tr *ngFor="let i of index">

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[(i*5)+0]['id'], (i*5)+0)"
                                            *ngIf="product.kursis[(i*5)+0]['status'] <= 1">
                                            <div class="box {{product.kursis[(i*5)+0]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[(i*5)+0]['nama']}}
                                            </div>
                                        </td>
                                        <td class="kursi" 
                                            *ngIf="product.kursis[(i*5)+0]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[(i*5)+0]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[(i*5)+0]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[(i*5)+1]['id'], (i*5)+1)"
                                            *ngIf="product.kursis[(i*5)+1]['status'] <= 1">
                                            <div class="box {{product.kursis[(i*5)+1]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[(i*5)+1]['nama']}}
                                            </div>
                                        </td>
                                        <td class="kursi" 
                                            *ngIf="product.kursis[(i*5)+1]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[(i*5)+1]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[(i*5)+1]['nama']}}
                                            </div>
                                        </td>

                                        <td class="non_kursi"></td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[(i*5)+2]['id'], (i*5)+2)"
                                            *ngIf="product.kursis[(i*5)+2]['status'] <= 1">
                                            <div class="box {{product.kursis[(i*5)+2]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[(i*5)+2]['nama']}}
                                            </div>
                                        </td>
                                        <td class="kursi" 
                                            *ngIf="product.kursis[(i*5)+2]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[(i*5)+2]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[(i*5)+2]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[(i*5)+3]['id'], (i*5)+3)"
                                            *ngIf="product.kursis[(i*5)+3]['status'] <= 1">
                                            <div class="box {{product.kursis[(i*5)+3]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[(i*5)+3]['nama']}}
                                            </div>
                                        </td>
                                        <td class="kursi" 
                                            *ngIf="product.kursis[(i*5)+3]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[(i*5)+3]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[(i*5)+3]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[(i*5)+4]['id'], (i*5)+4)"
                                            *ngIf="product.kursis[(i*5)+4]['status'] <= 1">
                                            <div class="box {{product.kursis[(i*5)+4]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[(i*5)+4]['nama']}}
                                            </div>
                                        </td>
                                        <td class="kursi" 
                                            *ngIf="product.kursis[(i*5)+4]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[(i*5)+4]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[(i*5)+4]['nama']}}
                                            </div>
                                        </td>
                                    </tr>

	                                <tr>

                                        <td class="kursi" style="border: 2px solid rgba(0, 0, 0, 0.12) !important;">
                                            Pintu Belakang
                                        </td>

                                        <td class="non_kursi"></td>

                                        <td class="non_kursi"></td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[50]['id'], 50)"
                                            *ngIf="product.kursis[50]['status'] <= 1">
                                            <div class="box {{product.kursis[50]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                                {{product.kursis[50]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            *ngIf="product.kursis[50]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[50]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[50]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[51]['id'], 51)"
                                            *ngIf="product.kursis[51]['status'] <= 1">
                                            <div class="box {{product.kursis[51]['status'] == 0 ? 
                                                'disable' : 'available'}}">
                                                {{product.kursis[51]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            *ngIf="product.kursis[51]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[51]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                                {{product.kursis[51]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[52]['id'], 52)"
                                            *ngIf="product.kursis[52]['status'] <= 1">
                                            <div class="box {{product.kursis[52]['status'] == 0 ? 
                                                'disable' : 'available'}}">
                                                {{product.kursis[52]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            *ngIf="product.kursis[52]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[52]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                                {{product.kursis[52]['nama']}}
                                            </div>
                                        </td>

	                                </tr>

                                    <tr>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[53]['id'], 53)"
                                            *ngIf="product.kursis[53]['status'] <= 1">
                                            <div class="box {{product.kursis[53]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[53]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            *ngIf="product.kursis[53]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[53]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[53]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[54]['id'], 54)"
                                            *ngIf="product.kursis[54]['status'] <= 1">
                                            <div class="box {{product.kursis[54]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[54]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            *ngIf="product.kursis[54]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[54]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[54]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi_tengah" 
                                            (click)="updateKursi(product.kursis[55]['id'], 55)"
                                            *ngIf="product.kursis[55]['status'] <= 1">
                                            <div class="box {{product.kursis[55]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[55]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi_tengah" 
                                            *ngIf="product.kursis[55]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[55]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[55]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[56]['id'], 56)"
                                            *ngIf="product.kursis[56]['status'] <= 1">
                                            <div class="box {{product.kursis[56]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[56]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            *ngIf="product.kursis[56]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[56]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[56]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[57]['id'], 57)"
                                            *ngIf="product.kursis[57]['status'] <= 1">
                                            <div class="box {{product.kursis[57]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[57]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            *ngIf="product.kursis[57]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[57]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[57]['nama']}}
                                            </div>
                                        </td>

                                        <td class="kursi" 
                                            (click)="updateKursi(product.kursis[58]['id'], 58)"
                                            *ngIf="product.kursis[58]['status'] <= 1">
                                            <div class="box {{product.kursis[58]['status'] == 0 ? 
                                            'disable' : 'available'}}">
                                              {{product.kursis[58]['nama']}}
                                            </div>
                                        </td>
                                        
                                        <td class="kursi" 
                                            *ngIf="product.kursis[58]['status'] > 1"
                                            matTooltip="Nomor Tiket : {{product.kursis[58]['nomor_tiket']}}" matTooltipPosition="above">
                                            <div class="box reserved">
                                              {{product.kursis[58]['nama']}}
                                            </div>
                                        </td>

                                    </tr>

                              	</table>

                            </div>
                        </mat-tab>

                        <mat-tab label="Detail Kursi" *ngIf="pageType !== 'new'">
                        	<div class="tab-content p-24" fusePerfectScrollbar>

                                <div class="header-print">
                                    <h1 style="margin: 0px 0px">{{ product.nomor }}</h1>
                                    <h2 style="margin: 0px 0px">{{ product.rute.kota.asal }} - {{ product.rute.kota.tujuan }}</h2>
                                    <h3 style="margin: 0px 0px">{{ product.rute.keterangan }} -{{ product.rute.tanggal }} </h3>
                                </div>

	                            <table *ngIf="product.kolom == 5">

	                            	<tr>
	                                  <!-- supir -->
	                                  <td class="kursi" style="border: 2px solid rgba(0, 0, 0, 0.12) !important">Pintu Depan</td>
	                                  <td class="non_kursi"></td>
	                                  <td class="non_kursi"></td>
	                                  <td class="non_kursi"></td>
	                                  <td class="non_kursi"></td>
	                                  <td class="kursi" style="border: 2px solid rgba(0, 0, 0, 0.12) !important">Supir</td>
	                                </tr>

									<tr *ngFor="let i of index">
                                        <td class="detail_kursi">
                                            <div class="box-detail reserved" 
                                                    (click)="detailTiket(product.kursis[(i*5)+0]['nomor_tiket'])" 
                                                    *ngIf="product.kursis[(i*5)+0]['pemudik']">
                                                <div class="kapital">
                                                    {{product.kursis[(i*5)+0]['nama']}}
                                                </div>
                                                <div class="small">
                                                    {{product.kursis[(i*5)+0]['pemudik']}}<br>
                                                    {{product.kursis[(i*5)+0]['nomor_tiket']}}
                                                </div>
                                            </div>
                                            <div class="box disable" *ngIf="!product.kursis[(i*5)+0]['pemudik']">
                                                {{product.kursis[(i*5)+0]['nama']}}
                                            </div>
                                        </td>
                                        <td class="detail_kursi">
                                            <div class="box-detail reserved" 
                                                    (click)="detailTiket(product.kursis[(i*5)+1]['nomor_tiket'])" 
                                                    *ngIf="product.kursis[(i*5)+1]['pemudik']">
                                                <div class="kapital">
                                                    {{product.kursis[(i*5)+1]['nama']}}
                                                </div>
                                                <div class="small">
                                                    {{product.kursis[(i*5)+1]['pemudik']}}<br>
                                                    {{product.kursis[(i*5)+1]['nomor_tiket']}}
                                                </div>
                                            </div>
                                            <div class="box disable" *ngIf="!product.kursis[(i*5)+1]['pemudik']">
                                                {{product.kursis[(i*5)+1]['nama']}}
                                            </div>
                                        </td>
                                        <td>  </td>
                                        <td class="detail_kursi">
                                            <div class="box-detail reserved" 
                                                    (click)="detailTiket(product.kursis[(i*5)+2]['nomor_tiket'])" 
                                                    *ngIf="product.kursis[(i*5)+2]['pemudik']">
                                                <div class="kapital">
                                                    {{product.kursis[(i*5)+2]['nama']}}
                                                </div>
                                                <div class="small">
                                                    {{product.kursis[(i*5)+2]['pemudik']}}<br>
                                                    {{product.kursis[(i*5)+2]['nomor_tiket']}}
                                                </div>
                                            </div>
                                            <div class="box disable" *ngIf="!product.kursis[(i*5)+2]['pemudik']">
                                                {{product.kursis[(i*5)+2]['nama']}}
                                            </div>
                                        </td>
                                        <td class="detail_kursi">
                                            <div class="box-detail reserved" 
                                                (click)="detailTiket(product.kursis[(i*5)+3]['nomor_tiket'])" 
                                                *ngIf="product.kursis[(i*5)+3]['pemudik']">
                                                <div class="kapital">
                                                    {{product.kursis[(i*5)+3]['nama']}}
                                                </div>
                                                <div class="small">
                                                    {{product.kursis[(i*5)+3]['pemudik']}}<br>
                                                    {{product.kursis[(i*5)+3]['nomor_tiket']}}
                                                </div>
                                            </div>
                                            <div class="box disable" *ngIf="!product.kursis[(i*5)+3]['pemudik']">
                                                {{product.kursis[(i*5)+3]['nama']}}
                                            </div>
                                        </td>
                                        <td class="detail_kursi">
                                            <div class="box-detail reserved" 
                                                    (click)="detailTiket(product.kursis[(i*5)+4]['nomor_tiket'])" 
                                                    *ngIf="product.kursis[(i*5)+4]['pemudik']">
                                                <div class="kapital">
                                                    {{product.kursis[(i*5)+4]['nama']}}
                                                </div>
                                                <div class="small">
                                                    {{product.kursis[(i*5)+4]['pemudik']}}<br>
                                                    {{product.kursis[(i*5)+4]['nomor_tiket']}}
                                                </div>
                                            </div>
                                            <div class="box disable" *ngIf="!product.kursis[(i*5)+4]['pemudik']">
                                                {{product.kursis[(i*5)+4]['nama']}}
                                            </div>
                                        </td>
                                    </tr>

                                  <tr>
                                    <td class="kursi" style="border: 2px solid rgba(0, 0, 0, 0.12) !important">Pintu Belakang</td>
                                    <td class="non_kursi"></td>
                                    <td>  </td>
                                    <td class="detail_kursi">
                                        <div class="box-detail reserved" 
                                             (click)="detailTiket(product.kursis[50]['nomor_tiket'])" 
                                             *ngIf="product.kursis[50]['pemudik']">
                                          <div class="kapital">
                                            {{product.kursis[50]['nama']}}
                                          </div>
                                          <div class="small">
                                            {{product.kursis[50]['pemudik']}}<br>
                                            {{product.kursis[50]['nomor_tiket']}}
                                          </div>
                                      </div>
                                      <div class="box disable" *ngIf="!product.kursis[50]['pemudik']">
                                        {{product.kursis[50]['nama']}}
                                      </div>
                                    </td>
                                    <td class="detail_kursi">
                                        <div class="box-detail reserved" 
                                             (click)="detailTiket(product.kursis[51]['nomor_tiket'])" 
                                             *ngIf="product.kursis[51]['pemudik']">
                                          <div class="kapital">
                                            {{product.kursis[51]['nama']}}
                                          </div>
                                          <div class="small">
                                            {{product.kursis[51]['pemudik']}}<br>
                                            {{product.kursis[51]['nomor_tiket']}}
                                          </div>
                                      </div>
                                      <div class="box disable" *ngIf="!product.kursis[51]['pemudik']">
                                        {{product.kursis[51]['nama']}}
                                      </div>
                                    </td>
                                    <td class="detail_kursi">
                                        <div class="box-detail reserved" 
                                             (click)="detailTiket(product.kursis[52]['nomor_tiket'])" 
                                             *ngIf="product.kursis[52]['pemudik']">
                                          <div class="kapital">
                                            {{product.kursis[52]['nama']}}
                                          </div>
                                          <div class="small">
                                            {{product.kursis[52]['pemudik']}}<br>
                                            {{product.kursis[52]['nomor_tiket']}}
                                          </div>
                                      </div>
                                      <div class="box disable" *ngIf="!product.kursis[52]['pemudik']">
                                        {{product.kursis[52]['nama']}}
                                      </div>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td class="detail_kursi">
                                        <div class="box-detail reserved" 
                                             (click)="detailTiket(product.kursis[53]['nomor_tiket'])" 
                                             *ngIf="product.kursis[53]['pemudik']">
                                          <div class="kapital">
                                            {{product.kursis[53]['nama']}}
                                          </div>
                                          <div class="small">
                                            {{product.kursis[53]['pemudik']}}<br>
                                            {{product.kursis[53]['nomor_tiket']}}
                                          </div>
                                      </div>
                                      <div class="box disable" *ngIf="!product.kursis[53]['pemudik']">
                                        {{product.kursis[53]['nama']}}
                                      </div>
                                    </td>
                                    <td class="detail_kursi">
                                        <div class="box-detail reserved" 
                                             (click)="detailTiket(product.kursis[54]['nomor_tiket'])" 
                                             *ngIf="product.kursis[54]['pemudik']">
                                          <div class="kapital">
                                            {{product.kursis[54]['nama']}}
                                          </div>
                                          <div class="small">
                                            {{product.kursis[54]['pemudik']}}<br>
                                            {{product.kursis[54]['nomor_tiket']}}
                                          </div>
                                      </div>
                                      <div class="box disable" *ngIf="!product.kursis[54]['pemudik']">
                                        {{product.kursis[54]['nama']}}
                                      </div>
                                    </td>
                                    <td class="kursi_tengah">
                                        <div class="box-detail reserved" 
                                             (click)="detailTiket(product.kursis[55]['nomor_tiket'])" 
                                             *ngIf="product.kursis[55]['pemudik']">
                                          <div class="kapital">
                                            {{product.kursis[55]['nama']}}
                                          </div>
                                          <div class="small">
                                            {{product.kursis[55]['pemudik']}}<br>
                                            {{product.kursis[55]['nomor_tiket']}}
                                          </div>
                                      </div>
                                      <div class="box disable" *ngIf="!product.kursis[55]['pemudik']">
                                        {{product.kursis[55]['nama']}}
                                      </div>
                                    </td>
                                    <td class="detail_kursi">
                                        <div class="box-detail reserved" 
                                             (click)="detailTiket(product.kursis[56]['nomor_tiket'])" 
                                             *ngIf="product.kursis[56]['pemudik']">
                                          <div class="kapital">
                                            {{product.kursis[56]['nama']}}
                                          </div>
                                          <div class="small">
                                            {{product.kursis[56]['pemudik']}}<br>
                                            {{product.kursis[56]['nomor_tiket']}}
                                          </div>
                                      </div>
                                      <div class="box disable" *ngIf="!product.kursis[56]['pemudik']">
                                        {{product.kursis[56]['nama']}}
                                      </div>
                                    </td>
                                    <td class="detail_kursi">
                                        <div class="box-detail reserved" 
                                             (click)="detailTiket(product.kursis[57]['nomor_tiket'])" 
                                             *ngIf="product.kursis[57]['pemudik']">
                                          <div class="kapital">
                                            {{product.kursis[57]['nama']}}
                                          </div>
                                          <div class="small">
                                            {{product.kursis[57]['pemudik']}}<br>
                                            {{product.kursis[57]['nomor_tiket']}}
                                          </div>
                                      </div>
                                      <div class="box disable" *ngIf="!product.kursis[57]['pemudik']">
                                        {{product.kursis[57]['nama']}}
                                      </div>
                                    </td>
                                    <td class="detail_kursi">
                                        <div class="box-detail reserved" 
                                             (click)="detailTiket(product.kursis[58]['nomor_tiket'])" 
                                             *ngIf="product.kursis[58]['pemudik']">
                                          <div class="kapital">
                                            {{product.kursis[58]['nama']}}
                                          </div>
                                          <div class="small">
                                            {{product.kursis[58]['pemudik']}}<br>
                                            {{product.kursis[58]['nomor_tiket']}}
                                          </div>
                                      </div>
                                      <div class="box disable" *ngIf="!product.kursis[58]['pemudik']">
                                        {{product.kursis[58]['nama']}}
                                      </div>
                                    </td>
                                  </tr>
	                            </table>

                        	</div>

                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
