<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">local_play</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Daftar Motor</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input [(ngModel)]="search_query" id="search" matInput #filter placeholder="Search" (keyup.enter)="search()">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <div class="my-12" fxHide.xs>
                <button mat-raised-button
                        (click)="clear()"
                        class="add-product-button m-sm-0">
                    <span>Clear</span>
                </button>
            </div>

            <div class="my-12">
                <button mat-raised-button fxHide.xs class="add-product-button m-sm-0" [matMenuTriggerFor]="filter">
                    <span>Filter</span>
                </button>

                <button mat-raised-button class="add-product-button m-sm-0" [matMenuTriggerFor]="option" fxHide fxShow.xs>
                    <span>Option</span>
                </button>

                <mat-menu #option="matMenu">
                    <button mat-menu-item (click)="clear()">Clear</button>
                    <button mat-menu-item [matMenuTriggerFor]="filter">Filter</button>
                </mat-menu>

                <mat-menu #filter="matMenu">
                    <button (click)="filterButton('0')" mat-menu-item>Belum Disetujui</button>
                    <button (click)="filterButton('1')" mat-menu-item>Disetujui</button>
                    <button (click)="filterButton('2')" mat-menu-item>Pending</button>
                    <button (click)="filterButton('3')" mat-menu-item>Hadir</button>
                    <button (click)="filterButton('4')" mat-menu-item>Cancel</button>
                    <button (click)="filterButton('5')" mat-menu-item>Ditolak</button>
                </mat-menu>
                
            </div>
            

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg example-container mat-elevation-z8">

            <!-- <div class="example-loading-shade"
                *ngIf="isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            </div> -->

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort matSortActive="created" matSortDisableClear matSortDirection="asc"
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                  <mat-cell *matCellDef="let row; let i = index">{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nama">
                  <mat-header-cell *matHeaderCellDef>Nama</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.nama }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="id_rute">
                  <mat-header-cell *matHeaderCellDef>Rute</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.id_rute }}</mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="alamat">
                    <mat-header-cell *cdkHeaderCellDef>Alamat</mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        <span>{{ row.alamat }}</span>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="no_hp">
                  <mat-header-cell *matHeaderCellDef>No HP</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.no_hp }}</mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="no_kendaraan">
                    <mat-header-cell *cdkHeaderCellDef>No Kendaraan</mat-header-cell>
                    <mat-cell *cdkCellDef="let row">{{ row.no_kendaraan }}</mat-cell>
                </ng-container>

                <!-- <ng-container cdkColumnDef="no_id_card">
                    <mat-header-cell *cdkHeaderCellDef>Dewasa</mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        <p class="price text-truncate">
                            {{row.pemudik_dewasa}}
                        </p>
                    </mat-cell>
                </ng-container> -->

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let row; columns: displayedColumns;"
                         class="product"
                         matRipple
                         (click)="clickTiket(row.id, row.status)">
                </mat-row>

            </mat-table>

            <mat-paginator [length]="resultsLength" [pageSize]="25">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
