<h1 matDialogTitle>Confirm</h1>
<div mat-dialog-content *ngIf="data.asal">
	{{ data.pesan }} {{ data.asal }} - {{ data.tujuan }} ?
</div>
<div mat-dialog-content *ngIf="data.username">
	{{ data.pesan }} {{ data.username }} ?
</div>
<div mat-dialog-content *ngIf="data.rute">
	{{ data.pesan }} {{ data.rute.kota.asal }} - {{ data.rute.kota.tujuan }} Tanggal {{ data.rute.tanggal | date:'fullDate'}} ?
</div>
<div mat-dialog-actions class="pt-24">
    <button mat-raised-button class="mat-accent mr-16" (click)="confirm(data.id)">Confirm</button>
    <button mat-button (click)="dialogRef.close(false)">Cancel</button>
</div>
