<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Daftar User</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <button mat-raised-button
                    [routerLink]="'/apps/user/detailUser/new'"
                    class="add-product-button my-12 m-sm-0"
                    [disabled]="role != '4'">
                <span>Tambah User</span>
            </button>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- Index Column -->
                <ng-container cdkColumnDef="index">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>No. </mat-header-cell>
                    <mat-cell *cdkCellDef="let product; let i = index">
                        <p class="text-truncate">{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}.</p>
                    </mat-cell>
                </ng-container>

                <!-- Role Column -->
                <ng-container cdkColumnDef="role">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Role</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="text-truncate" *ngIf="product.group == 4">Super Admin</p>
                        <p class="text-truncate" *ngIf="product.group == 3">Admin</p>
                        <p class="text-truncate" *ngIf="product.group == 2">Operator Pusat</p>
                        <p class="text-truncate" *ngIf="product.group == 1">Operator Daerah</p>
                        <p class="text-truncate" *ngIf="product.group == 0">No Role</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container cdkColumnDef="name">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="text-truncate">{{product.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Username Column -->
                <ng-container cdkColumnDef="username">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Username</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="category text-truncate"> {{product.username}} </p>
                    </mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container cdkColumnDef="email">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="price text-truncate">
                            {{product.email}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple
                         (click)="clickRute(product.id)">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="25"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
