#dashboard-project {

    mat-sidenav-container {

        .mat-drawer-content,
        .mat-sidenav-content {
            flex: 1 1 100%;
        }

        .center {

            > .header {
                height: 160px;
                min-height: 160px;
                max-height: 160px;

                .selected-project {
                    background: rgba(0, 0, 0, 0.12);
                    color: #FFFFFF;
                    padding: 8px 16px;
                    height: 40px;
                    line-height: 24px;
                    font-size: 16px;
                }

                .project-selector {
                    margin-left: 1px;
                    border-radius: 0;
                    background: rgba(0, 0, 0, 0.12);

                    .mat-icon {
                        color: black ;
                    }
                }
            }

            > .content {
                flex: 1;

                mat-tab-group {
                    height: 100%;

                    .mat-tab-body-wrapper {
                        flex-grow: 1;
                    }
                }

                .example-spacer {
                    flex: 1 1 auto;
                }


                .mat-tab-label-container {
                    padding: 0 24px;
                }

                table {
                    margin: 20px 15px;
                    padding: 0px 10px;
                    color: rgba(255, 255, 255, 0.8);

                    th {
                        padding: 10px 0px;
                        letter-spacing: 0.2em;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
                        margin-bottom: 10px;
                    }

                    td {
                        color: rgba(255, 255, 255, 0.8);
                        padding-top: 20px;

                        input {
                            color: rgba(255, 255, 255, 0.8);
                        }
                    }
                }

                .mat-input-placeholder {
                    color: white;
                }

                .mat-icon {
                    color: black;
                }

            }
        }

        .sidenav {
            width: 250px !important;
            min-width: 250px !important;
            max-width: 250px !important;
        }

        .widget {

            &.widget5 {

                .gridline-path.gridline-path-horizontal {
                    display: none;
                }
            }
        }
    }
    .fuse-widget-back {
        overflow: scroll;
    }
}
