<div id="dashboard-project" class="page-layout simple right-sidenav" fxLayout="row">

    <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar *ngIf="dashboard">

            <!-- CONTENT -->
            <div class="content">

                <!-- <mat-tab-group dynamicHeight>

                    <mat-tab label="Home" *ngIf="dashboard"> -->

                        <div class="widget-group grey-100-bg p-12" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom
                             [@animateStagger]="{value:'500'}">

                             <mat-toolbar color="primary">
                                 <mat-toolbar-row>
                                     <span class="example-spencer"></span>
                                     <span>{{ email }}</span>
                                 </mat-toolbar-row>
                             </mat-toolbar>

                            <!-- WIDGET 1 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Rute</div>
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="light-blue-fg font-size-72 line-height-72">
                                            {{ dashboard.rute }}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Rute
                                        </div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top">
                                        <mat-grid-list cols="2" rowHeight="20px">
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="start">
                                                <span class="h4 secondary-text text-truncate">
                                                    Aktif:
                                                </span>
                                                <span class="h4 ml-8">
                                                    {{ dashboard.rute_aktif }}
                                                </span>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="end">
                                                <span class="h4 secondary-text text-truncate">
                                                    Tidak Aktif:
                                                </span>
                                                <span class="h4 ml-8">
                                                    {{ dashboard.rute_tidak_aktif }}
                                                </span>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Daftar Rute
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Untuk dapat melihat melihat daftar rute yang tersedia klik daftar rute pada toolbar sebelah kiri.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Menambahkan rute baru
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Untuk menambahkan rute baru, pertama masuk ke halaman daftar rute, klik tombol Tambah Rute, masukkan informasi rute, kemudikan klik Tambah Rute untuk menyimpan rute.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Edit rute
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar rute, klik pada rute yang akan diedit, lakukan edit data, klik simpan setelah selesai.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Hapus Rute
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar rute, klik hapus rute, klik rute yang akan dihapus. Rute tidak bisa dihapus apabila sudah ada pemudik yang mengisi kendaraan dari rute tersebut.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Ubah status kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar rute, masuk pada halaman edit rute, kemudian ubah toogle status.
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 1 -->

                            <!-- WIDGET 2 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Kendaraan</div>

                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                                aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="red-fg font-size-72 line-height-72">
                                            {{ dashboard.kendaraan }}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Kendaraan
                                        </div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top">
                                        <mat-grid-list cols="2" rowHeight="20px">
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="start">
                                                <span class="h4 secondary-text text-truncate">
                                                    Aktif:
                                                </span>
                                                <span class="h4 ml-8">
                                                    {{ dashboard.kendaraan_aktif }}
                                                </span>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="end">
                                                <span class="h4 secondary-text text-truncate">
                                                    Tidak Aktif:
                                                </span>
                                                <span class="h4 ml-8">
                                                    {{ dashboard.kendaraan_tidak_aktif }}
                                                </span>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Daftar Kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Untuk dapat melihat melihat daftar kendaraan yang tersedia klik daftar kendaraan pada toolbar sebelah kiri.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Menambahkan kendaraan baru
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Untuk menambahkan kendaraan baru, pertama masuk ke halaman daftar kendaraan, klik tombol Tambah Kendaraan, masukkan informasi kendaraan, kemudikan klik tambah kendaraan untuk menyimpan kendaraan.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Edit kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar kendaraan, klik pada kendaraan yang akan diedit, lakukan edit data, klik simpan setelah selesai.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Hapus kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar kendaraan, klik hapus kendaraan, klik kendaraan yang akan dihapus. Kendaraan tidak bisa dihapus apabila sudah ada pemudik yang mengisi kursi dari kendaraan tersebut.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Ubah status kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar kendaraan, masuk pada halaman edit kendaraan, kemudian ubah toogle status.
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 2 -->

                            <!-- Jumlah Kursi -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Jumlah Kursi</div>
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="light-blue-fg font-size-72 line-height-72">
                                            {{ dashboard.kursi }}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Kursi
                                        </div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top">
                                        <mat-grid-list cols="2" rowHeight="20px">
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="start">
                                                <span class="h4 secondary-text text-truncate">
                                                    Mudik:
                                                </span>
                                                <span class="h4 ml-8">
                                                    {{ dashboard.kursi_mudik }}
                                                </span>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="end">
                                                <span class="h4 secondary-text text-truncate">
                                                    Balik:
                                                </span>
                                                <span class="h4 ml-8">
                                                    {{ dashboard.kursi_balik }}
                                                </span>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>

                            <!-- Sisa Kursi -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Sisa Kursi</div>

                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                                aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="red-fg font-size-72 line-height-72">
                                            {{ dashboard.sisa_kursi}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Kursi
                                        </div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top">
                                        <mat-grid-list cols="2" rowHeight="20px">
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="start">
                                                <span class="h4 secondary-text text-truncate">
                                                    Mudik:
                                                </span>
                                                <span class="h4 ml-8">
                                                    {{ dashboard.sisa_kursi_mudik }}
                                                </span>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="end">
                                                <span class="h4 secondary-text text-truncate">
                                                    Balik:
                                                </span>
                                                <span class="h4 ml-8">
                                                    {{ dashboard.sisa_kursi_balik }}
                                                </span>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>

                            <!-- WIDGET 4 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Tiket</div>

                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                                aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="blue-grey-fg font-size-72 line-height-72">
                                            {{ dashboard.tiket }}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Tiket
                                        </div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top">
                                        <mat-grid-list cols="2" rowHeight="20px">
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="start">
                                                <span class="h6 secondary-text text-truncate">
                                                    Disetujui:
                                                </span>
                                                <span class="h6 ml-8">
                                                    {{ dashboard.tiket_disetujui }}
                                                </span>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="end">
                                                <span class="h6 secondary-text text-truncate">
                                                    Belum Disetujui:
                                                </span>
                                                <span class="h6 ml-8">
                                                    {{ dashboard.tiket_menunggu_persetujuan }}
                                                </span>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Daftar Kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Untuk dapat melihat melihat daftar kendaraan yang tersedia klik daftar kendaraan pada toolbar sebelah kiri.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Menambahkan kendaraan baru
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Untuk menambahkan kendaraan baru, pertama masuk ke halaman daftar kendaraan, klik tombol Tambah Kendaraan, masukkan informasi kendaraan, kemudikan klik tambah kendaraan untuk menyimpan kendaraan.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Edit kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar kendaraan, klik pada kendaraan yang akan diedit, lakukan edit data, klik simpan setelah selesai.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Hapus kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar kendaraan, klik hapus kendaraan, klik kendaraan yang akan dihapus. Kendaraan tidak bisa dihapus apabila sudah ada pemudik yang mengisi kursi dari kendaraan tersebut.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Ubah status kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar kendaraan, masuk pada halaman edit kendaraan, kemudian ubah toogle status.
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 4 -->

                            <!-- WIDGET 3 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Motor</div>

                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                                aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="orange-fg font-size-72 line-height-72">
                                            {{ dashboard.total_pendaftar_motor }}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Pemudik
                                        </div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top">
                                        <mat-grid-list cols="2" rowHeight="20px">
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="start">
                                                <span class="h6 secondary-text text-truncate">
                                                    Total Kuota:
                                                </span>
                                                <span class="h6 ml-8">
                                                    {{ dashboard.total_kuota_motor }}
                                                </span>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="end">
                                                <span class="h6 secondary-text text-truncate">
                                                    Sisa Kuota:
                                                </span>
                                                <span class="h6 ml-8">
                                                    {{ dashboard.sisa_kuota_motor }}
                                                </span>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        <mat-accordion>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Daftar Kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Untuk dapat melihat melihat daftar kendaraan yang tersedia klik daftar kendaraan pada toolbar sebelah kiri.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Menambahkan kendaraan baru
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Untuk menambahkan kendaraan baru, pertama masuk ke halaman daftar kendaraan, klik tombol Tambah Kendaraan, masukkan informasi kendaraan, kemudikan klik tambah kendaraan untuk menyimpan kendaraan.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Edit kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar kendaraan, klik pada kendaraan yang akan diedit, lakukan edit data, klik simpan setelah selesai.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Hapus kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar kendaraan, klik hapus kendaraan, klik kendaraan yang akan dihapus. Kendaraan tidak bisa dihapus apabila sudah ada pemudik yang mengisi kursi dari kendaraan tersebut.
                                            </mat-expansion-panel>
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Ubah status kendaraan
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                Buka halaman daftar kendaraan, masuk pada halaman edit kendaraan, kemudian ubah toogle status.
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 3 -->

                            <!-- Mudik -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Pendaftar Mudik</div>

                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                                aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="orange-fg font-size-72 line-height-72">
                                            {{ dashboard.pendaftar_mudik}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Pemudik
                                        </div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top">
                                        <mat-grid-list cols="2" rowHeight="20px">
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="start">
                                                <span class="h6 secondary-text text-truncate">
                                                    Online:
                                                </span>
                                                <span class="h6 ml-8">
                                                    {{ dashboard.pendaftar_mudik_online }}
                                                </span>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="end">
                                                <span class="h6 secondary-text text-truncate">
                                                    Operator:
                                                </span>
                                                <span class="h6 ml-8">
                                                    {{ dashboard.pendaftar_mudik_offline }}
                                                </span>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>

                            <!-- Balik -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Pendaftar Balik</div>

                                        <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                                aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="blue-grey-fg font-size-72 line-height-72">
                                            {{ dashboard.pendaftar_balik }}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">Pemudik
                                        </div>
                                    </div>

                                    <div class="p-16 grey-50-bg border-top">
                                        <mat-grid-list cols="2" rowHeight="20px">
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="start">
                                                <span class="h6 secondary-text text-truncate">
                                                    Online:
                                                </span>
                                                <span class="h6 ml-8">
                                                    {{ dashboard.pendaftar_balik_online }}
                                                </span>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]=1 fxLayoutAlign="end">
                                                <span class="h6 secondary-text text-truncate">
                                                    Operator:
                                                </span>
                                                <span class="h6 ml-8">
                                                    {{ dashboard.pendaftar_balik_offline }}
                                                </span>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </div>
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>

                            <!-- WIDGET 5 -->
                            <!-- <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100"
                                         class="widget widget5">

                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center"
                                         fxLayoutWrap>

                                        <div fxFlex class="py-16 h3">{{widgets.widget5.title}}</div>

                                        <div fxFlex="0 1 auto" class="py-16" fxLayout="row">
                                            <button mat-button class="px-16"
                                                    *ngFor="let range of widgets.widget5.ranges | keys"
                                                    (click)="widget5.currentRange = range.key"
                                                    [disabled]="widget5.currentRange == range.key">
                                                {{range.value}}
                                            </button>
                                        </div>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>

                                        <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">
                                            <ngx-charts-bar-vertical-stacked
                                                *fuseIfOnDom
                                                [scheme]="widget5.scheme"
                                                [results]="this.widgets.widget5.mainChart[this.widget5.currentRange]"
                                                [gradient]="widget5.gradient"
                                                [xAxis]="widget5.xAxis"
                                                [yAxis]="widget5.yAxis"
                                                [legend]="widget5.legend"
                                                [showXAxisLabel]="widget5.showXAxisLabel"
                                                [showYAxisLabel]="widget5.showYAxisLabel"
                                                [xAxisLabel]="widget5.xAxisLabel"
                                                [yAxisLabel]="widget5.yAxisLabel"
                                                (select)="widget5.onSelect($event)">
                                            </ngx-charts-bar-vertical-stacked>
                                        </div>

                                        <div class="my-16" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="row"
                                             fxLayoutWrap>

                                            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center"
                                                 *ngFor="let widget of widgets.widget5.supporting | keys"
                                                 class="mb-24">

                                                <div class="px-24">
                                                    <div class="h4 secondary-text">{{widget.value.label}}</div>
                                                    <div class="mat-display-1 m-0">
                                                        {{widget.value.count[widget5.currentRange]}}
                                                    </div>
                                                </div>

                                                <div class="h-64">
                                                    <ngx-charts-area-chart
                                                        *fuseIfOnDom
                                                        [results]="widget.value.chart[widget5.currentRange]"
                                                        [scheme]="widget5.supporting.scheme"
                                                        [gradient]="widget5.supporting.gradient"
                                                        [xAxis]="widget5.supporting.xAxis"
                                                        [yAxis]="widget5.supporting.yAxis"
                                                        [legend]="widget5.supporting.legend"
                                                        [showXAxisLabel]="widget5.supporting.showXAxisLabel"
                                                        [showYAxisLabel]="widget5.supporting.showYAxisLabel"
                                                        [xAxisLabel]="widget5.supporting.xAxisLabel"
                                                        [yAxisLabel]="widget5.supporting.yAxisLabel"
                                                        [curve]="widget5.supporting.curve">
                                                    </ngx-charts-area-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fuse-widget> -->
                            <!-- / WIDGET 5 -->

                            <!-- WIDGET 6 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-sm="50">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="px-16 py-8 border-bottom" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Mudik</div>
                                    </div>

                                    <div class="h-400">
                                        <ngx-charts-pie-chart
                                            *fuseIfOnDom
                                            [scheme]="{domain: ['#03a9f4', '#e91e63']}"
                                            [results]="widget6Mudik"
                                            [legend]="widget6.showLegend"
                                            [explodeSlices]="widget6.explodeSlices"
                                            [labels]="widget6.labels"
                                            [doughnut]="widget6.doughnut"
                                            [gradient]="widget6.gradient"
                                            (select)="widget6.onSelect($event)">
                                        </ngx-charts-pie-chart>
                                    </div>

                                    <div class="py-8 mh-16 border-top" fxLayout="row" fxLayoutAlign="start center"
                                         fxLayoutWrap>
                                        <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center"
                                             fxFlex="100" fxFlex.gt-sm="50">
                                            <span class="mat-display-1 mb-0">
                                                {{ dashboard.pendaftar_mudik_online }}
                                            </span>
                                            <span class="h4">Online</span>
                                        </div>

                                        <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100"
                                             fxFlex.gt-sm="50">
                                            <span class="mat-display-1 mb-0">
                                                {{ dashboard.pendaftar_mudik_offline }}
                                            </span>
                                            <span class="h4">Operator</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 6 -->

                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-sm="50">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="px-16 py-8 border-bottom" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">Balik</div>
                                    </div>

                                    <div class="h-400">
                                        <ngx-charts-pie-chart
                                            *fuseIfOnDom
                                            [scheme]="{domain: ['#03a9f4', '#e91e63']}"
                                            [results]="widget6Balik"
                                            [legend]="widget6.showLegend"
                                            [explodeSlices]="widget6.explodeSlices"
                                            [labels]="widget6.labels"
                                            [doughnut]="widget6.doughnut"
                                            [gradient]="widget6.gradient"
                                            (select)="widget6.onSelect($event)">
                                        </ngx-charts-pie-chart>
                                    </div>

                                    <div class="py-8 mh-16 border-top" fxLayout="row" fxLayoutAlign="start center"
                                         fxLayoutWrap>
                                        <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center"
                                             fxFlex="100" fxFlex.gt-sm="50">
                                            <span class="mat-display-1 mb-0">
                                                {{ dashboard.pendaftar_balik_online }}
                                            </span>
                                            <span class="h4">Online</span>
                                        </div>

                                        <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100"
                                             fxFlex.gt-sm="50">
                                            <span class="mat-display-1 mb-0">
                                                {{ dashboard.pendaftar_balik_offline }}
                                            </span>
                                            <span class="h4">Operator</span>
                                        </div>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>

                            <!-- WIDGET 11 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                         fxFlex="100">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    
                                    <table class="mat-blue-bg">
                                        <tr>
                                            <th>Buka Pendaftaran</th>
                                            <th></th>
                                            <th>Tutup Pendaftaran</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <form [formGroup]="formBuka">
                                                    <mat-grid-list cols="3" rowHeight="64px">
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="tanggal_buka"
                                                                       formControlName="tanggal_buka"
                                                                       placeholder="Tanggal"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="bulan_buka"
                                                                       formControlName="bulan_buka"
                                                                       placeholder="Bulan"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="tahun_buka"
                                                                       formControlName="tahun_buka"
                                                                       placeholder="Tahun"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="jam_buka"
                                                                       formControlName="jam_buka"
                                                                       placeholder="Jam"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="menit_buka"
                                                                       formControlName="menit_buka"
                                                                       placeholder="Menit"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="detik_buka"
                                                                       formControlName="detik_buka"
                                                                       placeholder="Detik"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </form>
                                            </td>
                                            <td style="text-align: center; width: 100px;" class="mat-blue-bg">
                                                <button mat-raised-button 
                                                        (click)="simpan()"
                                                        [disabled]="formBuka.invalid || formBuka.pristine || role < 3">
                                                    <!-- <mat-icon style="width: 50px; height: 50px; font-size: 50px;"> 
                                                        date_range 
                                                    </mat-icon> -->
                                                    <div style="color: black;">Simpan</div>
                                                </button>
                                            </td>
                                            <td>
                                                <form [formGroup]="formTutup">
                                                    <mat-grid-list cols="3" rowHeight="64px">
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="tanggal_tutup"
                                                                       formControlName="tanggal_tutup"
                                                                       placeholder="Tanggal"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="bulan_tutup"
                                                                       formControlName="bulan_tutup"
                                                                       placeholder="Bulan"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="tahun_tutup"
                                                                       formControlName="tahun_tutup"
                                                                       placeholder="Tahun"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="jam_tutup"
                                                                       formControlName="jam_tutup"
                                                                       placeholder="Jam"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="menit_tutup"
                                                                       formControlName="menit_tutup"
                                                                       placeholder="Menit"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="detik_tutup"
                                                                       formControlName="detik_tutup"
                                                                       placeholder="Detik"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>

                                </div>

                            </fuse-widget>

                            <!-- WIDGET 7 -->
                            <!-- <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-sm="50">

                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="px-16 py-8 border-bottom" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">{{widgets.widget7.title}}</div>
                                        <mat-form-field>
                                            <mat-select class="simplified" [(ngModel)]="widget7.currentRange"
                                                        aria-label="Change range">
                                                <mat-option *ngFor="let range of widgets.widget7.ranges | keys"
                                                            [value]="range.key">
                                                    {{range.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center"
                                         *ngFor="let event of widgets.widget7.schedule[widget7.currentRange]">
                                        <div>
                                            <div class="h3">{{event.title}}</div>
                                            <div>
                                                <span class="secondary-text">{{event.time}}</span>
                                                <span *ngIf="event.location">, {{event.location}}</span>
                                            </div>
                                        </div>

                                        <button mat-icon-button aria-label="More information">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                </div>

                            </fuse-widget> -->
                            <!-- / WIDGET 7 -->

                        </div>
                        <!-- / WIDGET GROUP -->

                    <!-- </mat-tab> -->

                    <!-- <mat-tab label="Konfigurasi">

                        <div class="widget-group grey-100-bg" fxLayout="row" fxFlex="100" fxLayoutWrap *fuseIfOnDom
                             [@animateStagger]="{value:'50'}">

                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row"
                                         fxFlex="100">

                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    
                                    <table class="mat-blue-bg">
                                        <tr>
                                            <th>Buka Pendaftaran</th>
                                            <th></th>
                                            <th>Tutup Pendaftaran</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <form [formGroup]="formBuka">
                                                    <mat-grid-list cols="3" rowHeight="64px">
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="tanggal_buka"
                                                                       formControlName="tanggal_buka"
                                                                       placeholder="Tanggal"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="bulan_buka"
                                                                       formControlName="bulan_buka"
                                                                       placeholder="Bulan"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="tahun_buka"
                                                                       formControlName="tahun_buka"
                                                                       placeholder="Tahun"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="jam_buka"
                                                                       formControlName="jam_buka"
                                                                       placeholder="Jam"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="menit_buka"
                                                                       formControlName="menit_buka"
                                                                       placeholder="Menit"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="detik_buka"
                                                                       formControlName="detik_buka"
                                                                       placeholder="Detik"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </form>
                                            </td>
                                            <td style="text-align: center; width: 100px;">
                                                <button mat-icon-button (click)="simpan()">
                                                    <mat-icon style="width: 50px; height: 50px; font-size: 50px;"> 
                                                        date_range 
                                                    </mat-icon>
                                                </button>
                                            </td>
                                            <td>
                                                <form [formGroup]="formTutup">
                                                    <mat-grid-list cols="3" rowHeight="64px">
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="tanggal_tutup"
                                                                       formControlName="tanggal_tutup"
                                                                       placeholder="Tanggal"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="bulan_tutup"
                                                                       formControlName="bulan_tutup"
                                                                       placeholder="Bulan"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="tahun_tutup"
                                                                       formControlName="tahun_tutup"
                                                                       placeholder="Tahun"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="jam_tutup"
                                                                       formControlName="jam_tutup"
                                                                       placeholder="Jam"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="menit_tutup"
                                                                       formControlName="menit_tutup"
                                                                       placeholder="Menit"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                        <mat-grid-tile [colspan]="1">
                                                            <mat-form-field class="w-100-p">
                                                                <input matInput 
                                                                       name="detik_tutup"
                                                                       formControlName="detik_tutup"
                                                                       placeholder="Detik"
                                                                       required>
                                                            </mat-form-field>
                                                        </mat-grid-tile>
                                                    </mat-grid-list>
                                                </form>
                                            </td>
                                        </tr>
                                    </table>

                                </div>

                            </fuse-widget>

                        </div>
                    </mat-tab> -->

                <!-- </mat-tab-group> -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>
