<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/apps/feedback/daftarFeedback'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.id}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Komentar Baru
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detail Komentar</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- <button mat-raised-button
                    class="save-product-button mat-orange-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>Tambah Komentar</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mat-orange-bg mt-16 mt-sm-0"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>Simpan</span>
            </button> -->
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Komentar">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <!-- <mat-form-field class="w-100-p" *ngIf="pageType ==='new'">
                                    <input matInput
                                           name="id"
                                           formControlName="id"
                                           placeholder="ID Komentar"
                                           required>
                                    <mat-error *ngIf="productForm.controls.id.invalid">
                                         {{productForm.controls.id.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                    </mat-error>
                                </mat-form-field> -->

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="nik"
                                           formControlName="nik"
                                           placeholder="NIK"
                                           required>
                                    <mat-error *ngIf="productForm.controls.nik.invalid">
                                         {{productForm.controls.nik.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="no_kk"
                                           formControlName="no_kk"
                                           placeholder="Nomor KK"
                                           required>
                                    <mat-error *ngIf="productForm.controls.no_kk.invalid">
                                         {{productForm.controls.no_kk.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                    </mat-error>
                                </mat-form-field>

                                <!-- <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="comment"
                                           formControlName="comment"
                                           placeholder="Komentar"
                                           required>
                                    <mat-error *ngIf="productForm.controls.comment.invalid">
                                         {{productForm.controls.comment.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                    </mat-error>
                                </mat-form-field> -->

                                <p>
                                    {{ product.comment }}
                                </p>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="nilai"
                                           formControlName="nilai"
                                           placeholder="Nilai"
                                           min="1"
                                           required>
                                    <mat-error *ngIf="productForm.controls.nilai.invalid">
                                         {{productForm.controls.nilai.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                    </mat-error>
                                </mat-form-field>

                                <!-- <mat-slide-toggle matInput
                                                  formControlName="status"
                                                   *ngIf="pageType !=='new'">
                                  Aktif
                                </mat-slide-toggle> -->
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
