<h1 matDialogTitle>Pembatalan</h1>
<div mat-dialog-content>
	Apakah anda yakin akan membatalkan ?
</div>
<div mat-dialog-actions class="pt-24">
    <button mat-raised-button class="mat-accent mr-16" (click)="confirm()">Confirm</button>
    <button mat-button (click)="dialogRef.close(false)">Cancel</button>
</div>
