<h1 matDialogTitle>Confirm</h1>
<div mat-dialog-content *ngIf="data.status == 1">
	Apakah anda yakin akan menyetujui tiket {{ data.tiket }} ?
</div>
<div mat-dialog-content *ngIf="data.status == 0">
	Apakah anda yakin akan menolak tiket {{ data.tiket }} ?
</div>
<div mat-dialog-actions class="pt-24">
    <button mat-raised-button class="mat-accent mr-16" (click)="confirm()">Confirm</button>
    <button mat-button (click)="dialogRef.close(data.status == 1 ? 0 : 1)">Cancel</button>
</div>
