#product {

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .save-product-button{
            margin: 0px 20px;
            background-color: #F96D01;
        }

        .accept-product-button{
            margin: 0px 20px;
            background-color: limegreen;
        }

        .decline-product-button{
            margin: 0px 20px;
            background-color: red;
        }

        .print-product-button{
            margin: 0px 20px;
            background-color: dodgerblue;
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .mat-expansion-panel {
            background: #2196f3;
        }

        .mat-horizontal-stepper-header{
            pointer-events: none !important;
        }

        .mat-stepper-horizontal {
            width: 100%;
        }

        .mat-checkbox-inner-container {
            height: 30px;
            width: 30px;
        }

        span.mat-checkbox-label {
            display: flex;
        }

        .title {
            font-size: 20px;
            margin-top: 7px;
            margin-left: 5px;
        }

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-header {
            height: 40px;
            align-items: center;
        }

        .mat-horizontal-stepper-header {
            height: 50px !important;
        }

        .foto_kk {
            max-height: 300px;
            max-width: 400px;
        }

        .foto_pemudik {
            max-height: 300px;
            max-width: 400px;
        }

        .mat-tab-body-content {
            display: block !important;
        }

        .mat-tab-label {
            height: 64px;
        }

        .w-100-p {
            margin-bottom: 2px;
        }

        .w-90-p {
            margin-bottom: 2px;
        }

        .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
            margin-right: 10px;
        }

        .mat-form-field {
            width: 90%;
        }

        .product-image {
            overflow: hidden;
            width: 128px;
            height: 128px;
            margin-right: 16px;
            margin-bottom: 16px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .table-css {
            border-collapse: collapse !important;
            width: 100% !important;
        }

        .th-css, .td-css {
            padding: 8px !important;
            text-align: left !important;
            border-bottom: 1px solid #ddd !important;
        }

        .table-info {
            width: 100%;
        }

        .table-kendaraan {
            position: absolute;
            left: 5px;
            width: 100%;
            top: 0px;
        }

        .table-kendaraan {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
        }

        .table-kendaraan td, .table-kendaraan th {
            border: 1px solid #ddd;
            padding: 5px 8px;
        }

        .grid-list-kendaraan {
            overflow-x: hidden !important;
            overflow-y: scroll !important;
        }

        .table-kendaraan tr:nth-child(even){background-color: #f2f2f2;}

        // .table-kendaraan tr:hover {background-color: #ddd;}

        .table-kendaraan th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4066b5;
            color: white;
        }

        .td, .th {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd !important;
        }

        .example-card {
            width: 100%;
        }

        .example-card-pemudik {
            max-width: 400px;
            margin-bottom: 2px;
        }

        .table-form-field {
            width: 100%;
            margin-bottom: -25px;
        }

        .icon-pemudik {
            margin-right: 5px;
        }

        .divider {
            width: 95% !important;
            left: 2.5% !important;
        }

        .add-product-button{
            background-color: #039be5;
        }

        .radio-button{
            margin: 8px;
        }

        .stepper-but {
            position: absolute;
            left: 50px !important;
            bottom: 20px !important;
        }

    }

}

/deep/ dialog-overview-example-dialog {
    display: flex;
}

.swal2-popup {
    width: unset;
    min-width: 300px;
}