<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%; height: 50px !important; min-height: 50px !important;">

                <button class="mr-0 mr-sm-16" 
                        mat-icon-button 
                        (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.nomor_tiket}} - 
                        <span *ngIf="product.status == 0">Belum Disetujui</span>
                        <span *ngIf="product.status == 1">Sudah Disetujui</span>
                        <span *ngIf="product.status == 2">Pending (Proses Pengisian Data)</span>
                        <span *ngIf="product.status == 3">Hadir</span>
                        <span *ngIf="product.status == 4">Batal</span>
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Tambah Pemudik
                    </div>
                </div>
            </div>

            <button mat-raised-button 
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType === 'edit' && !tiketForm.pristine" 
                    (click)="saveSwal.show()">
                <span>Simpan</span>
            </button>
            <!-- <button mat-raised-button 
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType === 'edit'" 
                    (click)="deleteTiketSwal.show()">
                <span>Hapus</span>
            </button> -->
            <button mat-raised-button 
                    class="accept-product-button mt-16 mt-sm-0"
                    *ngIf="pageType == 'edit' && status == 0" 
                    (click)="approveSwal.show()">
                <span>Setujui</span>
            </button>
            <button mat-raised-button 
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType == 'edit' && status != 4 && status != 5" 
                    (click)="declineSwal.show()">
                <span>Tolak</span>
            </button>
            <button mat-raised-button 
                    class="save-product-button mt-16 mt-sm-0"
                    *ngIf="pageType === 'edit' && status == 1" 
                    (click)="print(product.nomor_tiket)">
                <span>Print</span>
            </button>

            <swal
                #approveSwal
                title="Apakah anda yakin akan menyetujui tiket ini ?"
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="approve()">
            </swal>

            <swal
                #declineSwal
                title="Apakah anda yakin akan menolak tiket ini ?"
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="decline()">
            </swal>

            <swal
                #saveSwal
                title="Apakah anda yakin ?"
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="simpan()">
            </swal>

            <swal
                #deleteTiketSwal
                title="Apakah anda yakin mengahapus tiket ini ?"
                type="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="hapusTiket()">
            </swal>

            <swal
                #successSwal
                title="Action Success"
                type="success"
                showConfirmButton='false'
                timer='1500'>
            </swal>
            
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="tiketForm" [formGroup]="tiketForm" *ngIf="pageType=='edit'" class="product w-100-p" fxLayout="column" fxFlex>
                

                    <mat-card class="example-card" *ngIf="product">
                        <mat-card-header>
                            <mat-card-title>Informasi Tiket</mat-card-title>
                        </mat-card-header>
                        <mat-divider class="divider"> </mat-divider>
                        <mat-card-content>
                            <table class="table-info">
                                <tr class="tr">
                                    <td class="td">Alamat</td>
                                    <td class="td">:</td>
                                    <td class="td">
                                        <mat-form-field class="table-form-field">
                                            <input matInput
                                                   name="alamat"
                                                   formControlName="alamat"
                                                   required>
                                            <mat-icon matPrefix> place </mat-icon>
                                        </mat-form-field>
                                    </td>
                                    <td class="td"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td">Telepon</td>
                                    <td class="td">:</td>
                                    <td class="td">
                                        <mat-form-field class="table-form-field">
                                            <input matInput
                                                   name="telepon"
                                                   formControlName="telepon"
                                                   required>
                                            <mat-icon matPrefix> smartphone </mat-icon>
                                        </mat-form-field>
                                    </td>
                                    <td class="td"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td">Kota Tujuan</td>
                                    <td class="td">:</td>
                                    <td class="td">
                                        <mat-form-field class="table-form-field">
                                            <input matInput
                                                   name="kota_tujuan"
                                                   formControlName="kota_tujuan"
                                                   required>
                                            <mat-icon matPrefix> place </mat-icon>
                                        </mat-form-field>
                                    </td>
                                    <td class="td"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td">Rute</td>
                                    <td class="td">:</td>
                                    <td class="td">
                                        {{ product.rute.kota.asal }} - {{ product.rute.kota.tujuan }} - {{ product.rute.keterangan }}
                                    </td>
                                    <td class="td"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td">Tanggal Berangkat</td>
                                    <td class="td">:</td>
                                    <td class="td">
                                        {{ product.rute.tanggal }} - {{ product.rute.jam }}
                                    </td>
                                    <td class="td"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td">Kendaraan</td>
                                    <td class="td">:</td>
                                    <td class="td">
                                        {{ product.kendaraan.nomor }}
                                    </td>
                                    <td class="td">
                                        <button mat-raised-button color="accent" (click)="kendaraanSwal(product.kendaraan.id)">Detail</button>
                                    </td>
                                </tr>
                            </table>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title> 
                                <button mat-raised-button color="accent" (click)="editPemudik()">Edit</button>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-divider class="divider"> </mat-divider>
                        <mat-card-content>
                            <table class="table-info" *ngIf="pageType2 === 'view'">
                                <tr class="tr">
                                    <td class="th">No.</td>
                                    <th class="th">Nama</th>
                                    <th class="th">NIK</th>
                                    <th class="th">Jenis Kelamin</th>
                                    <th class="th">Tanggal Lahir</th>
                                    <th class="th">Tempat Lahir</th>
                                    <th class="th">Pekerjaan</th>
                                    <th class="th">Kursi</th>
                                    <!-- <th class="th"></th> -->
                                </tr>
                                <tr *ngFor="let pemudik of product.pemudik; let i = index" class="tr">
                                    <td class="td"> {{ i+1 }} </td>
                                    <td class="td"> 
                                        <div style="display: flex">
                                            <mat-icon class="icon-pemudik"> 
                                                {{ i < product.pemudik_dewasa ? 'accessibility_new' : 'child_care'}} 
                                            </mat-icon> 
                                            <div>{{ pemudik.nama }}</div>
                                        </div>
                                    </td>
                                    <td class="td"> {{ pemudik.nik }} </td>
                                    <td class="td"> {{ pemudik.gender == 1 ? 'Laki-Laki' : 'Perempuan' }} </td>
                                    <td class="td"> {{ pemudik.tanggal_lahir }} </td>
                                    <td class="td"> {{ pemudik.tempat_lahir }} </td>
                                    <td class="td-css" *ngIf="pemudik.pekerjaan == 1"> PNS / TNI / Polri / Pensiunan </td>
                                    <td class="td-css" *ngIf="pemudik.pekerjaan == 2"> Wiraswasta </td>
                                    <td class="td-css" *ngIf="pemudik.pekerjaan == 3"> Karyawan Swasta / Buruh</td>
                                    <td class="td-css" *ngIf="pemudik.pekerjaan == 4"> Pelajar / Mahasiswa </td>
                                    <td class="td-css" *ngIf="pemudik.pekerjaan == 5"> Pembantu Rumah Tangga </td>
                                    <td class="td-css" *ngIf="pemudik.pekerjaan == 6"> Dokter / Pengacara / Profesional </td>
                                    <td class="td-css" *ngIf="pemudik.pekerjaan == 7"> Tidak Bekerja / Ibu Rumah Tangga / Lainnya </td>
                                    <td class="td"> {{ pemudik.kursi }} </td>
                                    <!-- <td class="td" (click)="deletePemudik(pemudik.id)"> <mat-icon> delete </mat-icon> </td> -->
                                </tr>
                            </table>

                            <div formArrayName="pemudiks" *ngIf="pageType2 === 'edit'">
                                <mat-card class="example-card" 
                                          *ngFor="let item of tiketForm.controls.pemudiks.controls; let i = index" 
                                          [formGroupName]="i">
                                    <mat-card-header>
                                        <mat-card-title *ngIf="i<product.pemudik_dewasa">Pemudik Dewasa</mat-card-title>
                                        <mat-card-title *ngIf="i>=product.pemudik_dewasa">Pemudik Anak</mat-card-title>
                                    </mat-card-header>
                                    <mat-divider class="divider"></mat-divider>
                                    <mat-card-content>
                                        <mat-grid-list cols="4" rowHeight="80px">
                                            <mat-grid-tile [colspan]="1">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Nama</mat-label>
                                                    <input matInput name="nama" formControlName="nama" placeholder="Nama">
                                                    <mat-icon matPrefix>person</mat-icon>
                                                </mat-form-field>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="1">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>NIK</mat-label>
                                                    <input matInput 
                                                           name="nik" 
                                                           formControlName="nik" 
                                                           placeholder="NIK"
                                                           type="number">
                                                    <mat-icon matPrefix>chrome_reader_mode</mat-icon>
                                                </mat-form-field>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="1">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Jenis Kelamin</mat-label>
                                                    <mat-select matInput formControlName="gender" 
                                                                placeholder="Jenis Kelamin"
                                                                required>
                                                        <mat-option [value]="1"> Laki-laki </mat-option>
                                                        <mat-option [value]="2"> Perempuan </mat-option>
                                                    </mat-select>
                                                    <mat-icon matPrefix> wc </mat-icon>
                                                </mat-form-field>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="1">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Tanggal Lahir</mat-label>
                                                    <input matInput type="date" name="tanggal_lahir" 
                                                           formControlName="tanggal_lahir" placeholder="Tanggal Lahir">
                                                    <mat-icon matPrefix>date_range</mat-icon>
                                                </mat-form-field>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="1">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Tempat Lahir</mat-label>
                                                    <input matInput name="tempat_lahir" formControlName="tempat_lahir" 
                                                           placeholder="Tempat Lahir" required>
                                                    <mat-icon matPrefix>place</mat-icon>
                                                </mat-form-field>
                                            </mat-grid-tile>
                                            <!-- <mat-grid-tile [colspan]="1" *ngIf="i < product.pemudik_dewasa">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Pekerjaan</mat-label>
                                                    <mat-select matInput formControlName="pekerjaan" 
                                                                placeholder="Pekerjaan"
                                                                required>
                                                        <mat-option value="1"> PNS / TNI / Polri / Pensiunan </mat-option>
                                                        <mat-option value="2"> Wiraswasta </mat-option>
                                                        <mat-option value="3"> Karyawan Swasta / Buruh</mat-option>
                                                        <mat-option value="4"> Pelajar / Mahasiswa </mat-option>
                                                        <mat-option value="5"> Pembantu Rumah Tangga </mat-option>
                                                        <mat-option value="6"> Dokter / Pengacara / Profesional </mat-option>
                                                        <mat-option value="7"> Tidak Bekerja / Ibu Rumah Tangga / Lainnya </mat-option>
                                                    </mat-select>
                                                    <mat-icon matPrefix> work </mat-icon>
                                                </mat-form-field>
                                            </mat-grid-tile> -->
                                            <mat-grid-tile [colspan]="1" *ngIf="product.pemudik[i].jenis === 1">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Pindah Kursi</mat-label>
                                                    <mat-select matInput formControlName="pindah_kursi" 
                                                                placeholder="{{ tiketForm.controls.pemudiks.controls[i].controls.pindah_kursi.value }}">
                                                        <mat-option value="{{ tiketForm.controls.pemudiks.controls[i].controls.pindah_kursi.value }}"> {{ product.pemudik[i].kursi }} (Kursi Sekarang) </mat-option>
                                                        <mat-option 
                                                                *ngFor="let kursi of kursi_available" 
                                                                [value]="kursi.id"> 
                                                            {{ kursi.nama }}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-icon matPrefix> wc </mat-icon>
                                                </mat-form-field>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="1" *ngIf="motor">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>SIM</mat-label>
                                                    <input matInput 
                                                           name="sim" 
                                                           formControlName="sim" 
                                                           placeholder="SIM"
                                                           type="number">
                                                    <mat-icon matPrefix>chrome_reader_mode</mat-icon>
                                                </mat-form-field>
                                            </mat-grid-tile>
                                            <mat-grid-tile [colspan]="1" *ngIf="motor">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>SIM</mat-label>
                                                    <input matInput 
                                                           name="stnk" 
                                                           formControlName="stnk" 
                                                           placeholder="STNK"
                                                           type="number">
                                                    <mat-icon matPrefix>chrome_reader_mode</mat-icon>
                                                </mat-form-field>
                                            </mat-grid-tile>
                                        </mat-grid-list>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button mat-raised-button color="accent" (click)="savePemudikSwal.show()">
                                            Simpan
                                        </button>
                                        <button mat-raised-button color="warn" (click)="hapusPemudikSwal.show()">
                                            Hapus Pemudik
                                        </button>
                                    </mat-card-actions>
                                    <swal
                                        #savePemudikSwal
                                        title="Apakah anda yakin ?"
                                        type="question"
                                        [showCancelButton]="true"
                                        [focusCancel]="true"
                                        (confirm)="simpanPemudik(i)">
                                    </swal>
                                    <swal
                                        #hapusPemudikSwal
                                        title="Apakah anda yakin akan menghapus pemudik ini ?"
                                        type="warning"
                                        [showCancelButton]="true"
                                        [focusCancel]="true"
                                        (confirm)="hapusPemudik(i)">
                                    </swal>
                                    <mat-divider class="divider"></mat-divider>
                                </mat-card>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title> Daftar Foto </mat-card-title>
                        </mat-card-header>
                        <mat-grid-list cols="3">
                            <mat-grid-tile [colspan]="1">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title> Foto KK </mat-card-title>
                                    </mat-card-header>
                                    <mat-divider></mat-divider>
                                    <mat-card-content>
                                        <img class="foto_kk" height="200px" width="300px" 
                                             src="{{url_image + product.foto_kk}}" 
                                             (click)="openDialog(url_image + product.foto_kk.kartu_keluarga)">
                                        <img class="foto_kk" *ngIf="!product.foto_kk" height="200px" width="300px" 
                                             src="assets/images/avatars/kk-kosong.jpg" (click)="openDialog('assets/images/avatars/kk-kosong.jpg')">
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="1" *ngFor="let pemudik of product.pemudik">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title> Foto {{ pemudik.nama }} </mat-card-title>
                                    </mat-card-header>
                                    <mat-divider></mat-divider>
                                    <mat-card-content>
                                        <img class="foto_pemudik" *ngIf="pemudik.foto_pemudik" height="200px" 
                                             width="300px" src="{{url_image + pemudik.foto_pemudik.nik}}" 
                                             (click)="openDialog(url_image + pemudik.foto_pemudik.nik)">
                                        <img class="foto_pemudik" *ngIf="!pemudik.foto_pemudik" height="200px" 
                                             width="300px" src="assets/images/avatars/profile.jpg" 
                                             (click)="openDialog('assets/images/avatars/profile.jpg')">
                                    </mat-card-content>
                                </mat-card>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card>

                </form>

                <mat-horizontal-stepper *ngIf="pageType == 'new'" [linear]="isLinear" #stepper="matHorizontalStepper" #stepper>
                    
                    <mat-step [stepControl]="informasiMudikForm1">
                        <form [formGroup]="informasiMudikForm1">
                            <ng-template matStepLabel>Informasi Mudik</ng-template>
                            <mat-grid-list cols="2" rowHeight="300px">
                                <mat-grid-tile [colspan]="1">
                                    <mat-card class="example-card w-100-p">
                                        <mat-card-header>
                                            <mat-card-title>
                                                <mat-checkbox (change)="mudik()">
                                                    <img src="assets/images/avatars/Slice_4.png">
                                                    <div class="title">Mudik</div>
                                                </mat-checkbox>
                                            </mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <mat-form-field class="w-100-p">
                                                <mat-select formControlName="asal_mudik" placeholder="Pilih Asal Mudik" (change)="updateTujuanMudik()">
                                                    <mat-option *ngFor="let kota of asalMudik" [value]="kota"> {{ kota }} </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="informasiMudikForm1.controls.asal_mudik.invalid">
                                                     {{informasiMudikForm1.controls.asal_mudik.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                                </mat-error>
                                                <mat-icon matPrefix> add_location </mat-icon>
                                            </mat-form-field>
                                            <mat-form-field class="w-100-p">
                                                <mat-select formControlName="tujuan_mudik" placeholder="Pilih Tujuan" (change)="updateRuteMudik()">
                                                    <mat-option *ngFor="let tujuan of tujuanMudik" [value]="tujuan"> {{ tujuan }} </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="informasiMudikForm1.controls.tujuan_mudik.invalid">
                                                     {{informasiMudikForm1.controls.tujuan_mudik.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                                </mat-error>
                                                <mat-icon matPrefix> add_location </mat-icon>
                                            </mat-form-field>
                                            <mat-form-field class="w-100-p">
                                                <mat-select formControlName="rute_mudik" placeholder="Pilih Rute dan Tanggal Mudik" (change)="selectRuteMudik()">
                                                    <mat-option *ngFor="let rute of ruteMudik" [disabled]="rute.sisa < 1 ? true : false" [value]="rute.id"> {{ rute.tanggal.substring(8, 11) }} {{ bulan(rute.tanggal) }} {{ rute.tanggal.substring(0, 4) }} - Kursi Tersedia : {{ rute.sisa }} - {{rute.keterangan}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="informasiMudikForm1.controls.rute_mudik.invalid">
                                                     {{informasiMudikForm1.controls.rute_mudik.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                                </mat-error>
                                                <mat-icon matPrefix> date_range </mat-icon>
                                            </mat-form-field>
                                            <!-- <mat-form-field class="w-100-p">
                                                <mat-select formControlName="rute_mudik_motor" placeholder="Pilih Rute dan Tanggal Mudik Motor" (change)="selectRuteMudikMotor()">
                                                    <mat-option [value]=""> Pilih Rute Mudik Motor </mat-option>
                                                    <mat-option *ngFor="let rute of ruteMudikMotor" [disabled]="rute.kouta_motor < 1 ? true : false" [value]="rute.id"> {{ rute.tanggal.substring(8, 11) }} {{ bulan(rute.tanggal) }} {{ rute.tanggal.substring(0, 4) }} - {{rute.keterangan}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="informasiMudikForm1.controls.rute_mudik_motor.invalid">
                                                     {{informasiMudikForm1.controls.rute_mudik_motor.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                                </mat-error>
                                                <mat-icon matPrefix> date_range </mat-icon>
                                            </mat-form-field> -->
                                        </mat-card-content>
                                    </mat-card>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="1">
                                    <mat-card class="example-card w-100-p">
                                        <mat-card-header>
                                            <mat-card-title>
                                                <mat-checkbox (change)="balik()">
                                                    <img src="assets/images/avatars/Slice_5.png">
                                                    <div class="title">Balik</div>
                                                </mat-checkbox>
                                            </mat-card-title>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <mat-form-field class="w-100-p">
                                                <mat-select formControlName="asal_balik" 
                                                            placeholder="Pilih Asal Mudik" 
                                                            (change)="updateTujuanBalik()">
                                                    <mat-option *ngFor="let kota of asalBalik" [value]="kota"> {{ kota }} </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="informasiMudikForm1.controls.asal_balik.invalid">
                                                     {{informasiMudikForm1.controls.asal_balik.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                                </mat-error>
                                                <mat-icon matPrefix> add_location </mat-icon>
                                            </mat-form-field>
                                            <mat-form-field class="w-100-p">
                                                <mat-select formControlName="tujuan_balik" 
                                                            placeholder="Pilih Tujuan"
                                                            (change)="updateRuteBalik()">
                                                    <mat-option *ngFor="let tujuan of tujuanBalik" [value]="tujuan"> {{ tujuan }} </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="informasiMudikForm1.controls.tujuan_balik.invalid">
                                                     {{informasiMudikForm1.controls.tujuan_balik.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                                </mat-error>
                                                <mat-icon matPrefix> add_location </mat-icon>
                                            </mat-form-field>
                                            <mat-form-field class="w-100-p">
                                                <mat-select formControlName="rute_balik" placeholder="Pilih Tanggal Mudik" (change)="selectRuteBalik()">
                                                    <mat-option *ngFor="let rute of ruteBalik" [disabled]="rute.sisa < 1 ? true : false" [value]="rute.id"> {{ rute.tanggal.substring(8, 11) }} {{ bulan(rute.tanggal) }} {{ rute.tanggal.substring(0, 4) }} - Kursi Tersedia : {{ rute.sisa }} - {{rute.keterangan}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="informasiMudikForm1.controls.rute_balik.invalid">
                                                     {{informasiMudikForm1.controls.rute_balik.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                                </mat-error>
                                                <mat-icon matPrefix> date_range </mat-icon>
                                            </mat-form-field>
                                            <!-- <mat-form-field class="w-100-p">
                                                <mat-select formControlName="rute_balik_motor" placeholder="Pilih Rute dan Tanggal Balik Motor" (change)="selectRuteBalikMotor()">
                                                    <mat-option [value]=""> Pilih Rute Balik Motor </mat-option>
                                                    <mat-option *ngFor="let rute of ruteBalikMotor" [disabled]="rute.kouta_motor < 1 ? true : false" [value]="rute.id"> {{ rute.tanggal.substring(8, 11) }} {{ bulan(rute.tanggal) }} {{ rute.tanggal.substring(0, 4) }} - {{rute.keterangan}}</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="informasiMudikForm1.controls.rute_balik_motor.invalid">
                                                     {{informasiMudikForm1.controls.rute_balik_motor.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                                </mat-error>
                                                <mat-icon matPrefix> date_range </mat-icon>
                                            </mat-form-field> -->
                                        </mat-card-content>
                                    </mat-card>
                                </mat-grid-tile>
                            </mat-grid-list>

                            <mat-grid-list cols="2" rowHeight="525px">
                                <mat-grid-tile [colspan]="1" class="grid-list-kendaraan">
                                    <table *ngIf="selectedRuteMudik[0]" class="table-kendaraan">
                                        <tr>
                                            <th>No Kendaraan</th>
                                            <th>Kapasitas Sisa</th>
                                            <th></th>
                                        </tr>
                                        <tr *ngFor="let kendaraan of selectedRuteMudik[0].kendaraans">
                                            <td> {{ kendaraan.nomor }} </td>
                                            <td> {{ kendaraan.kapasitas }} </td>
                                            <td> <button mat-raised-button (click)="kendaraanSwal(kendaraan.id)"> Detail </button> </td>
                                        </tr>
                                    </table>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="1" class="grid-list-kendaraan">
                                    <table *ngIf="selectedRuteBalik[0]" class="table-kendaraan">
                                        <tr>
                                            <th>No Kendaraan</th>
                                            <th>Kapasitas Sisa</th>
                                            <th></th>
                                        </tr>
                                        <tr *ngFor="let kendaraan of selectedRuteBalik[0].kendaraans">
                                            <td> {{ kendaraan.nomor }} </td>
                                            <td> {{ kendaraan.kapasitas }} </td>
                                            <td> <button mat-raised-button (click)="kendaraanSwal(kendaraan.id)"> Detail </button> </td>
                                        </tr>
                                    </table>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </form>
                        <div class="stepper-but">
                            <button mat-raised-button 
                                    matStepperNext 
                                    class="add-product-button" 
                                    [disabled]="!isMudik && !isBalik">
                                    Lanjutkan
                            </button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="informasiMudikForm2">
                        <form [formGroup]="informasiMudikForm2">
                            <ng-template matStepLabel>Informasi Mudik</ng-template>
                            <mat-form-field class="w-100-p">
                                <input matInput
                                       name="alamat"
                                       formControlName="alamat"
                                       placeholder="Alamat"
                                       required>
                                <mat-error *ngIf="informasiMudikForm2.controls.alamat.invalid">
                                     {{informasiMudikForm2.controls.alamat.errors['required'] ? 'Tidak Boleh Kosong': informasiMudikForm2.controls.alamat.errors['minlength'] ? 'Panjang Minimal 8' : ''}}
                                </mat-error>
                                <mat-icon matPrefix> place </mat-icon>
                            </mat-form-field>
                            <mat-form-field class="w-100-p">
                                <input matInput
                                       name="telepon"
                                       formControlName="telepon"
                                       placeholder="Telepon">
                                <mat-error *ngIf="informasiMudikForm2.controls.telepon.invalid">
                                 {{informasiMudikForm2.controls.telepon.errors['required'] ? 'Tidak Boleh Kosong': informasiMudikForm2.controls.telepon.errors['pattern'] ? 'Format Nomor Telepon Tidak Valid' : ''}}
                            </mat-error>
                                <mat-icon matPrefix> phone </mat-icon>
                            </mat-form-field>
                            <mat-form-field class="w-100-p" style="margin-top: 20px;">
                                <mat-select matInput
                                           formControlName="pemudik_dewasa"
                                           placeholder="Pemudik Dewasa"
                                           (change)="validateAnakdanMotor()" required>
                                    <mat-option [value]="1"> 1 </mat-option>
                                    <mat-option [value]="2"> 2 </mat-option>
                                    <mat-option [value]="3"> 3 </mat-option>
                                    <mat-option [value]="4"> 4 </mat-option>
                                    <mat-option [value]="5"> 5 </mat-option>
                                    <mat-option [value]="6"> 6 </mat-option>
                                    <mat-option [value]="7"> 7 </mat-option>
                                    <mat-option [value]="8"> 8 </mat-option>
                                    <mat-option [value]="9"> 9 </mat-option>
                                    <mat-option [value]="10"> 10 </mat-option>
                                </mat-select>
                                <mat-error *ngIf="informasiMudikForm2.controls.pemudik_dewasa.invalid">
                                     {{informasiMudikForm2.controls.pemudik_dewasa.errors['required'] ? 'Tidak Boleh Kosong': 'Kuota Kendaraan Tidak Cukup'}}
                                </mat-error>
                                <mat-icon matPrefix> person </mat-icon>
                            </mat-form-field>
                            <mat-form-field class="w-100-p">
                                <mat-select matInput
                                           formControlName="pemudik_anak"
                                           placeholder="Pemudik Anak (Di bawah 4 Tahun)"
                                           required>
                                    <mat-option [value]="0"> 0 </mat-option>
                                    <mat-option [value]="1"> 1 </mat-option>
                                    <mat-option *ngFor="let i of maxAnak" [value]="i"> {{ i }} </mat-option>
                                </mat-select>
                                <mat-error *ngIf="informasiMudikForm2.controls.pemudik_anak.invalid">
                                     {{informasiMudikForm2.controls.pemudik_anak.errors['required'] ? 'Tidak Boleh Kosong': 'Jumlah Pemudik Anak Tidak Boleh Melebihi Pemudik Dewasa'}}
                                </mat-error>
                                <mat-icon matPrefix> child_care </mat-icon>
                            </mat-form-field>
                            <!-- <mat-form-field class="w-100-p">
                                <mat-select matInput
                                           formControlName="banyak_motor"
                                           placeholder="Jumlah Motor"
                                           required>
                                    <mat-option [value]="0"> 0 </mat-option>
                                    <mat-option [value]="1"> 1 </mat-option>
                                    <mat-option *ngFor="let i of maxMotor" [value]="i"> {{ i }} </mat-option>
                                </mat-select>
                                <mat-error *ngIf="informasiMudikForm2.controls.banyak_motor.invalid">
                                     {{informasiMudikForm2.controls.banyak_motor.errors['required'] ? 'Tidak Boleh Kosong': 'Jumlah Pemudik Motor Tidak Boleh Melebihi Pemudik Dewasa atau Kuota Motor'}}
                                </mat-error>
                                <mat-icon matPrefix> motorcycle </mat-icon>
                            </mat-form-field> -->
                        </form>
                        <div class="stepper-but">
                            <button mat-raised-button matStepperPrevious class="add-product-button">Kembali</button>
                            <button mat-raised-button class="add-product-button" (click)="booking()">Lanjutkan</button>
                        </div>
                    </mat-step>

                    <mat-step [stepControl]="tiketForm">
                        <form [formGroup]="tiketForm">
                            <ng-template matStepLabel>Informasi Pemudik</ng-template>
                            <div formArrayName="pemudik">
                                <div *ngFor="let pemudik of tiketForm.controls.pemudik.controls; let i=index"  [formGroupName]="i">
                                    <h4 *ngIf="i < informasiMudikForm2.controls.pemudik_dewasa.value">
                                        <span>Dewasa {{i+1}}</span>
                                        <span *ngIf="i < informasiMudikForm2.controls.banyak_motor.value"> + Motor</span>
                                    </h4>
                                    <h4 *ngIf="i >= informasiMudikForm2.controls.pemudik_dewasa.value">Anak-Anak {{i-informasiMudikForm2.controls.pemudik_dewasa.value+1}} (Pemudik di bawah umur 4 th)</h4>
                                    <!-- <h4 *ngIf="i >= informasiMudikForm2.controls.pemudik_dewasa.value + informasiMudikForm2.controls.pemudik_dewasa.value">Pemudik Motor</h4> -->
                                    <mat-grid-list cols="8" rowHeight="80px">
                                        <mat-grid-tile [colspan]="4">
                                            <mat-form-field class="w-90-p">
                                              <input matInput
                                                     name="nama"
                                                     formControlName="nama"
                                                     placeholder="Nama"
                                                     required>
                                              <mat-error *ngIf="tiketForm.controls.pemudik.controls[i].controls.nama.invalid">
                                                   {{tiketForm.controls.pemudik.controls[i].controls.nama.errors['required'] ? 'Tidak Boleh Kosong': tiketForm.controls.pemudik.controls[i].controls.nama.errors['minlength'] ? 'Panjang minimal 2 karakter': ''}}
                                              </mat-error>
                                              <mat-icon matPrefix> person </mat-icon>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="4">
                                            <mat-form-field class="w-90-p">
                                                <input matInput
                                                       name="nik"
                                                       formControlName="nik"
                                                       placeholder="NIK"
                                                       type="number"
                                                       (change)="generateNIK(i)">
                                                <mat-error *ngIf="tiketForm.controls.pemudik.controls[i].controls.nik.invalid">
                                                     {{tiketForm.controls.pemudik.controls[i].controls.nik.errors['required'] ? 'Tidak Boleh Kosong': tiketForm.controls.pemudik.controls[i].controls.nik.errors['minlength'] ? 'Panjang minimal 16 karakter' : tiketForm.controls.pemudik.controls[i].controls.nik.errors['maxlength'] ? 'Panjang maksimal 16 karakter' : ''}}
                                                </mat-error>
                                                <mat-error *ngIf="tiketForm.controls.pemudik.controls[i].controls.nik.invalid">
                                                    {{ tiketForm.controls.pemudik.controls[i].controls.nik.errors['nikTaken'] ? 'Nik Telah Digunakan': '' }}
                                               </mat-error>
                                                <mat-icon matPrefix> chrome_reader_mode </mat-icon>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="4">
                                            <mat-form-field class="w-90-p">
                                                <mat-select matInput
                                                       formControlName="gender"
                                                       placeholder="Jenis Kelamin"
                                                       required>
                                                    <mat-option [value]="1"> Laki-laki </mat-option>
                                                    <mat-option [value]="2"> Perempuan </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="tiketForm.controls.pemudik.controls[i].controls.gender.invalid">
                                                     Tidak boleh kosong
                                                </mat-error>
                                                <mat-icon matPrefix> wc </mat-icon>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="4" *ngIf="i < informasiMudikForm2.controls.pemudik_dewasa.value">
                                            <mat-form-field class="w-90-p">
                                                <mat-select matInput
                                                       formControlName="pekerjaan"
                                                       placeholder="Pekerjaan"
                                                       required>
                                                    <mat-option value="1"> PNS / TNI / Polri / Pensiunan </mat-option>
                                                    <mat-option value="2"> Wiraswasta </mat-option>
                                                    <mat-option value="3"> Karyawan Swasta / Buruh</mat-option>
                                                    <mat-option value="4"> Pelajar / Mahasiswa </mat-option>
                                                    <mat-option value="5"> Pembantu Rumah Tangga </mat-option>
                                                    <mat-option value="6"> Dokter / Pengacara / Profesional </mat-option>
                                                    <mat-option value="7"> Tidak Bekerja / Ibu Rumah Tangga / Lainnya </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="tiketForm.controls.pemudik.controls[i].controls.pekerjaan.invalid">
                                                     Tidak boleh kosong
                                                </mat-error>
                                                <mat-icon matPrefix> work </mat-icon>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="1">
                                            <mat-form-field class="w-90-p">
                                                <mat-select matInput
                                                       formControlName="tanggal"
                                                       placeholder="Tanggal Lahir"
                                                       required>
                                                    <mat-option *ngFor="let i of list_tanggal" [value]="i.id"> {{ i.id }} </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="2">
                                            <mat-form-field class="w-90-p">
                                                <mat-select matInput
                                                       formControlName="bulan"
                                                       placeholder="Bulan"
                                                       required>
                                                    <mat-option *ngFor="let bulan of list_bulan" [value]="bulan.id"> {{bulan.nama}} </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="1">
                                            <mat-form-field class="w-90-p">
                                                <mat-select matInput
                                                       formControlName="tahun"
                                                       placeholder="Tahun"
                                                       required>
                                                    <mat-option *ngFor="let i of list_tahun" [value]="i"> {{ i }} </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="4">
                                            <mat-form-field class="w-90-p">
                                                <input matInput
                                                       name="tempat_lahir"
                                                       formControlName="tempat_lahir"
                                                       placeholder="Tempat Lahir"
                                                       required>
                                                <mat-error *ngIf="tiketForm.controls.pemudik.controls[i].controls.tempat_lahir.invalid">
                                                     Tidak boleh kosong
                                                </mat-error>
                                                <mat-icon matPrefix> place </mat-icon>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                        <mat-grid-tile [colspan]="4" *ngIf="i < informasiMudikForm2.controls.banyak_motor.value && (nomor_tiket_mudik_motor || nomor_tiket_balik_motor)">
                                            <mat-form-field class="w-90-p">
                                                <input matInput
                                                       name="sim"
                                                       formControlName="sim"
                                                       placeholder="SIM"
                                                       type="number">
                                                <mat-error *ngIf="tiketForm.controls.pemudik.controls[i].controls.sim.invalid">
                                                     Tidak boleh kosong
                                                </mat-error>
                                                <mat-icon matPrefix> place </mat-icon>
                                            </mat-form-field>
                                        </mat-grid-tile>

                                        <mat-grid-tile [colspan]="4" *ngIf="i < informasiMudikForm2.controls.banyak_motor.value && (nomor_tiket_mudik_motor || nomor_tiket_balik_motor)">
                                            <mat-form-field class="w-90-p">
                                                <input matInput
                                                       name="stnk"
                                                       formControlName="stnk"
                                                       placeholder="STNK"
                                                       type="number">
                                                <mat-error *ngIf="tiketForm.controls.pemudik.controls[i].controls.stnk.invalid">
                                                     Tidak boleh kosong
                                                </mat-error>
                                                <mat-icon matPrefix> place </mat-icon>
                                            </mat-form-field>
                                        </mat-grid-tile>
                                    </mat-grid-list>
                                    <hr>
                                </div>
                            </div>
                            <div class="stepper-but">
                                <button type="button" matButton mat-raised-button class="save-product-button mat-red-bg mt-16 mt-sm-0" (click)="batalSwal.show()">Batal</button>
                                <button type="submit" matButton mat-raised-button class="save-product-button mat-blue-bg mt-16 mt-sm-0" (click)="summary()">Lanjutkan</button>
                            </div>
                            <swal
                                #batalSwal
                                title="Apakah anda yakin akan membatalkan tiket ini ?"
                                text="Kursi yang telah dibooking akan hilang"
                                type="question"
                                [showCancelButton]="true"
                                [focusCancel]="true"
                                (confirm)="tiketBatal()">
                            </swal>
                        </form>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Summary</ng-template>
                        <div *ngIf="tiketForm.valid">
                            <mat-card class="example-card" *ngIf="nomor_tiket_mudik">
                                <mat-card-header>
                                    <mat-card-title>INFORMASI BUKTI PENDAFTARAN MUDIK</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <table class="table-css">
                                        <tr>
                                            <td class="td-css">Kode Pendaftaran</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{nomor_tiket_mudik}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tanggal Pendaftaran</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Rute</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRute.asal_mudik}} - {{summaryRute.tujuan_mudik}} ({{summaryRuteMudik.keterangan}})</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tanggal Berangkat</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteMudik.tanggal}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tempat Berangkat</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteMudik.tempat_berangkat}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tempat Ambil Tiket</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteMudik.tempat_ambil_tiket}}</td>
                                        </tr>
                                    </table>
                                </mat-card-content>
                            </mat-card>

                            <mat-card class="example-card" *ngIf="nomor_tiket_balik">
                                <mat-card-header>
                                    <mat-card-title>INFORMASI BUKTI PENDAFTARAN BALIK</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <table class="table-css">
                                        <tr>
                                            <td class="td-css">Kode Pendaftaran</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{nomor_tiket_balik}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tanggal Pendaftaran</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Rute</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRute.asal_balik}} - {{summaryRute.tujuan_balik}} ({{summaryRuteBalik.keterangan}})</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tanggal Berangkat</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteBalik.tanggal}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tempat Berangkat</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteBalik.tempat_berangkat}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tempat Ambil Tiket</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteBalik.tempat_ambil_tiket}}</td>
                                        </tr>
                                    </table>
                                </mat-card-content>
                            </mat-card>

                            <mat-card class="example-card" *ngIf="nomor_tiket_mudik_motor">
                                <mat-card-header>
                                    <mat-card-title>INFORMASI BUKTI PENDAFTARAN MUDIK MOTOR</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <table class="table-css">
                                        <tr>
                                            <td class="td-css">Kode Pendaftaran</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{nomor_tiket_mudik_motor}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tanggal Pendaftaran</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Rute</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRute.asal_mudik}} - {{summaryRute.tujuan_mudik}} ({{summaryRuteMudik.keterangan}})</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tanggal Berangkat</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteMudik.tanggal}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tempat Berangkat</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteMudik.tempat_berangkat}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tempat Ambil Tiket</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteMudik.tempat_ambil_tiket}}</td>
                                        </tr>
                                    </table>
                                </mat-card-content>
                            </mat-card>

                            <mat-card class="example-card" *ngIf="nomor_tiket_balik_motor">
                                <mat-card-header>
                                    <mat-card-title>INFORMASI BUKTI PENDAFTARAN BALIK MOTOR</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <table class="table-css">
                                        <tr>
                                            <td class="td-css">Kode Pendaftaran</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{nomor_tiket_balik_motor}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tanggal Pendaftaran</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{date}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Rute</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRute.asal_balik}} - {{summaryRute.tujuan_balik}} ({{summaryRuteBalik.keterangan}})</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tanggal Berangkat</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteBalik.tanggal}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tempat Berangkat</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteBalik.tempat_berangkat}}</td>
                                        </tr>
                                        <tr>
                                            <td class="td-css">Tempat Ambil Tiket</td>
                                            <td class="td-css">:</td>
                                            <td class="td-css">{{summaryRuteBalik.tempat_ambil_tiket}}</td>
                                        </tr>
                                    </table>
                                </mat-card-content>
                            </mat-card>

                            <mat-card class="example-card" *ngIf="nomor_tiket_mudik || nomor_tiket_balik">
                                <mat-card-header>
                                    <mat-card-title>DATA PEMUDIK</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <table class="table-css">
                                        <tr>
                                            <th class="th-css">Nama</th>
                                            <th class="th-css">NIK</th>
                                            <th class="th-css">Tanggal Lahir</th>
                                            <th class="th-css">Pekerjaan</th>
                                        </tr>
                                        <tr *ngFor="let pemudik of summaryMudik.pemudik">
                                            <td class="td-css">{{pemudik.nama}}</td>
                                            <td class="td-css">{{pemudik.nik}}</td>
                                            <td class="td-css">{{pemudik.tanggal_lahir}}</td>
                                            <td class="td-css" *ngIf="pemudik.pekerjaan == 1"> PNS / TNI / Polri / Pensiunan </td>
                                            <td class="td-css" *ngIf="pemudik.pekerjaan == 2"> Wiraswasta </td>
                                            <td class="td-css" *ngIf="pemudik.pekerjaan == 3"> Karyawan Swasta / Buruh</td>
                                            <td class="td-css" *ngIf="pemudik.pekerjaan == 4"> Pelajar / Mahasiswa </td>
                                            <td class="td-css" *ngIf="pemudik.pekerjaan == 5"> Pembantu Rumah Tangga </td>
                                            <td class="td-css" *ngIf="pemudik.pekerjaan == 6"> Dokter / Pengacara / Profesional </td>
                                            <td class="td-css" *ngIf="pemudik.pekerjaan == 7"> Tidak Bekerja / Ibu Rumah Tangga / Lainnya </td>
                                        </tr>
                                    </table>
                                </mat-card-content>
                            </mat-card>

                        </div>
                        <div  class="stepper-but">
                            <button type="button" matButton mat-raised-button class="save-product-button mat-red-bg mt-16 mt-sm-0" (click)="batalSwal.show()">Batal</button>
                            <button type="button" matButton matStepperPrevious mat-raised-button class="save-product-button mat-blue-bg mt-16 mt-sm-0">Kembali</button>
                            <button type="submit" matButton matStepperNext mat-raised-button class="save-product-button mat-blue-bg mt-16 mt-sm-0" (click)="daftarMudik()">Lanjutkan</button>
                            <swal
                                #approveSwal
                                title="Apakah anda yakin akan membatalkan tiket ini ?"
                                text="Kursi yang telah dibooking akan hilang"
                                type="question"
                                [showCancelButton]="true"
                                [focusCancel]="true"
                                (confirm)="tiketBatal()">
                            </swal>
                        </div>
                    </mat-step>

                </mat-horizontal-stepper>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
