@import "src/app/core/scss/fuse";

:host {

    .header {

        .search-input-wrapper {
            max-width: 480px;
        }

        .add-product-button{
            background-color: #F96D01;
        }

        @include media-breakpoint-down(xs) {
            height: 176px !important;
            min-height: 176px !important;
            max-height: 176px !important;
        }
    }

    .top-bg {
        @include media-breakpoint-down(xs) {
            height: 240px;
        }
    }

    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        // overflow: auto;

        .mat-header-row {
            min-width: 1000px;
            min-height: 35px;
            background-color: rgba(0, 0, 0, .12);
        }

        .mat-row {
            min-width: 1000px;
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 60px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 38px;
        }

        .mat-column-kode_tiket {
            flex: 0 1 8%;
        }

        .mat-column-rute {
            flex: 0 1 20%;
        }

        .mat-column-nama, .mat-column-nik {
            flex: 0 1 18%;
        }

        .warning {
            flex: 0 1 5%;
            color: rgb(249, 93, 1) !important;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
            margin-right: 5px;
        }

        .danger {
            flex: 0 1 5%;
            color: rgb(249, 1, 1) !important;
        }

        .warning {
            flex: 0 1 5%;
            color: rgb(249, 93, 1) !important;
        }
    }
}
