<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">

                <button class="mr-0 mr-sm-16" mat-icon-button (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit' || pageType === 'salin'">
                        {{product.asal}} - {{product.tujuan}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Tambah Rute
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detail Rute</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="productForm.invalid || role < 3"
                    *ngIf="pageType ==='new'" (click)="addProduct()" fxHide.xs>
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()" fxHide.xs>
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="productForm.invalid || role < 3"
                    *ngIf="pageType ==='edit'" (click)="salinProduct()" fxHide.xs>
                <span>Salin</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="hapus()" fxHide.xs>
                <span>Hapus</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="productForm.invalid || role < 3"
                    *ngIf="pageType ==='salin'" (click)="simpanSalin()" fxHide.xs>
                <span>Simpan Salin</span>
            </button>

            <button mat-icon-button fxHide fxShow.xs [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            
            <mat-menu #menu="matMenu">
              <button mat-menu-item [disabled]="productForm.invalid || role < 3"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item [disabled]="productForm.invalid || role < 3"
                    *ngIf="pageType ==='edit'" (click)="salinProduct()">
                <mat-icon>file_copy</mat-icon>
                <span>Salin</span>
              </button>
              <button mat-menu-item [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="hapus()">
                <mat-icon>delete_forever</mat-icon>
                <span>Hapus</span>
              </button>
              <button mat-menu-item [disabled]="productForm.invalid || role < 3"
                    *ngIf="pageType ==='salin'" (click)="simpanSalin()">
                <mat-icon>save</mat-icon>
                <span>Simpan Salin</span>
              </button>
            </mat-menu>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Info Rute">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-radio-group formControlName="jenis"  
                                                 required>
                                    <mat-radio-button class="mr-8 mb-8" [value]="1"> Mudik </mat-radio-button>
                                    <mat-radio-button class="mr-8 mb-8" [value]="2"> Balik </mat-radio-button>
                                </mat-radio-group>

                                <mat-form-field class="w-100-p">
                                  <mat-select matInput 
                                              formControlName="asal" 
                                              placeholder="Asal" 
                                              required>
                                    <mat-option *ngFor="let kota of kotaMaster" [value]="kota.nama"> {{kota.nama}} </mat-option>
                                    <mat-error *ngIf="productForm.controls.asal.invalid">
                                      {{productForm.controls.asal.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                    </mat-error>
                                  </mat-select>
                                  <mat-icon matPrefix> place </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                  <mat-select matInput 
                                              formControlName="tujuan" 
                                              placeholder="Tujuan" 
                                              required>
                                    <mat-option *ngFor="let kota of kotaMaster" [value]="kota.nama"> {{kota.nama}} </mat-option>
                                  </mat-select>
                                  <mat-icon matPrefix> place </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           type="datetime-local" 
                                           name="tanggal"
                                           formControlName="tanggal"
                                           placeholder="Tanggal"
                                           required>
                                    <mat-error *ngIf="productForm.controls.tanggal.invalid">
                                      {{productForm.controls.tanggal.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                    </mat-error>
                                    <mat-icon matPrefix> date_range </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="kouta_motor"
                                           formControlName="kouta_motor"
                                           placeholder="Kuota Motor"
                                           required>
                                    <mat-icon matPrefix> motorcycle </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="keterangan"
                                           formControlName="keterangan"
                                           placeholder="Keterangan"
                                           required>
                                    <mat-error *ngIf="productForm.controls.keterangan.invalid">
                                      {{productForm.controls.keterangan.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                                    </mat-error>
                                    <mat-icon matPrefix> description </mat-icon>
                                </mat-form-field>
                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="contact_person"
                                           formControlName="contact_person"
                                           placeholder="Contact Person"
                                           rquired>
                                    <mat-icon matPrefix> contact_phone </mat-icon>
                                </mat-form-field>
                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="tempat_berangkat"
                                           formControlName="tempat_berangkat"
                                           placeholder="Tempat Berangkat"
                                           required>
                                    <mat-icon matPrefix> store_mall_directory </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="tempat_ambil_tiket"
                                           formControlName="tempat_ambil_tiket"
                                           placeholder="Tempat Ambil Tiket"
                                           required>
                                    <mat-icon matPrefix> local_play </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="kode"
                                           formControlName="kode"
                                           placeholder="Kode"
                                           type="number" 
                                           required>
                                    <mat-icon matPrefix> local_play </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <mat-label>Titip Motor</mat-label>
                                    <mat-select matInput formControlName="is_titip_motor" placeholder="Titip Motor"
                                                required>
                                        <mat-option [value]="1"> Ya </mat-option>
                                        <mat-option [value]="0"> Tidak </mat-option>
                                    </mat-select>
                                    <mat-icon matPrefix> motorcycle </mat-icon>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <mat-label>Titip Motor Balik</mat-label>
                                    <mat-select matInput formControlName="is_titip_motor_balik" placeholder="Titip Motor Balik" required>
                                        <mat-option [value]="1"> Ya </mat-option>
                                        <mat-option [value]="0"> Tidak </mat-option>
                                    </mat-select>
                                    <mat-icon matPrefix> motorcycle </mat-icon>
                                </mat-form-field>

                                <button mat-raised-button
                                    class="save-product-button mt-16 mt-sm-0"
                                    *ngIf="status && pageType !=='new' && pageType !=='salin'"
                                    (click)="changeStatus()">
                                  Non Aktifkan
                                </button>

                                <button mat-raised-button
                                    class="save-product-button mt-16 mt-sm-0"
                                    *ngIf="!status && pageType !=='new' && pageType !=='salin'"
                                    (click)="changeStatus()">
                                  Aktifkan
                                </button>
                            </div>
                        </mat-tab>

                        <mat-tab label="Kendaraan" *ngIf="pageType !== 'new' && pageType !== 'salin'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                              <table class="table-rute" style="width: 100%">
                                <tr>
                                  <th class="th-rute">No.</th>
                                  <th class="th-rute">Nomor Kendaraan</th>
                                  <th class="th-rute">Jenis</th>
                                  <th class="th-rute">Status</th>
                                </tr>
                                <tr class="tr" *ngFor="let kendaraan of product.kendaraans; let i = index" (click)="clickKendaraan(kendaraan.id)">
                                  <td class="td-rute">{{i+1}}.</td>
                                  <td class="td-rute">{{kendaraan.nomor}}</td>
                                  <td class="td-rute">{{kendaraan.jenis == 1 ? 'Bis':'Kereta Api'}}</td>
                                  <td class="td-rute">{{kendaraan.status == 1 ? 'Aktif':'Tidak Aktif'}}</td>
                                </tr>
                              </table>
                            </div>
                        </mat-tab>

                        <mat-tab label="Subkota" *ngIf="pageType !== 'new' && pageType !== 'salin'">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-card>
                                    <mat-card-title> Subkota </mat-card-title>
                                    <mat-divider></mat-divider>
                                    <mat-card-content>
                                        <mat-list dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="subkota">
                                            <mat-list-item *ngFor="let item of subkota; let i = index; last as last" dnd-sortable [sortableIndex]="i">
                                                <h4 mat-line>{{item.nama}}</h4>
                                                <button mat-icon-button color="primary" align="end" (click)="popSubkota(item.id)">
                                                    <mat-icon>remove_circle</mat-icon>
                                                </button>
                                                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                                            </mat-list-item>
                                        </mat-list>
                                    </mat-card-content>
                                </mat-card>
                                <br><br>
                                <mat-card>
                                    <mat-card-title> Daftar Kota </mat-card-title>
                                    <mat-divider></mat-divider>
                                    <mat-card-content>
                                        <div class="panel-body" dnd-sortable-container [dropZones]="['boxers-zone']" [sortableData]="daftarKotaSubkota">
                                            <mat-grid-list cols="5" rowHeight="4:1" class="list-group" >
                                                <mat-grid-tile *ngFor="let item of daftarKotaSubkota; let i = index" class="list-kota" dnd-sortable [sortableIndex]="i">
                                                    <button mat-icon-button color="primary" (click)="pushSubkota(item.id)">
                                                        <mat-icon>add_circle</mat-icon>
                                                    </button>
                                                    <p>{{item.nama}}</p> 
                                                </mat-grid-tile>
                                            </mat-grid-list>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
