<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">navigation</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Daftar Contact</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <div class="my-12">

                <button mat-raised-button
                        [routerLink]="'/apps/contact/detailContact/new'"
                        class="add-product-button m-sm-0"
                        [disabled]="role < 3">
                    <span>Tambah Contact</span>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container cdkColumnDef="id">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>No.</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact; let i = index">
                        <p class="text-truncate">{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}.</p>
                    </mat-cell>
                </ng-container>

                <!-- Asal Column -->
                <ng-container cdkColumnDef="name">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Nama</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact">
                        <p class="text-truncate">{{contact.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Tujuan Column -->
                <ng-container cdkColumnDef="phone">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Nomor Telepon</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact">
                        <p class="category text-truncate"> {{contact.phone}} </p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="link">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Link WA</mat-header-cell>
                    <mat-cell *cdkCellDef="let contact">
                        <p class="category text-truncate"> {{contact.link}} </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let contact; columns: displayedColumns;"
                         class="product"
                         matRipple
                         (click)="clickContact(contact)">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageSize]="25"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
