<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <div class="top-bg mat-accent-bg"></div>

    <div class="center">

        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <button mat-raised-button class="add-product-button my-12 m-sm-0" (click)="printLaporan()">
                <span>Print Excel</span>
            </button>

        </div>

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-tab-group>
                <mat-tab label="Mudik">
                    <table *ngIf="report">
                        <tr>
                            <th>No.</th>
                            <th>Rute</th>
                            <th>Jumlah Kendaraan</th>
                            <th>Total Kuota Mudik</th>
                            <th>Kuota Online</th>
                            <th>Booking Online</th>
                            <th>Approved Online</th>
                            <th>Sisa Online</th>
                            <th>Kuota Operator</th>
                            <th>Approve Operator</th>
                            <th>Sisa Operator</th>
                            <th>Kuota Cadangan</th>
                            <th>Tanggal</th>
                        </tr>
                        <tr *ngFor="let i of jumlah_mudik">
                            <td *ngIf="report.mudik_biasa[i]"> {{ i + 1 }} </td> <!-- no -->
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].rute }} </td> <!-- rute -->
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].kendaraaan }} </td> <!-- kendaran -->
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].total }} </td> <!-- total -->

                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].online.sisa + report.mudik_biasa[i].online.booking + report.mudik_biasa[i].online.terdaftar + report.mudik_biasa[i].online.verified }} </td> <!-- kouta onlien -->
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].online.terdaftar }} </td> <!-- terdaftar -->
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].online.verified }} </td> <!-- approve -->
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].online.sisa }} </td> <!-- sisa -->

                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].offline.sisa + report.mudik_biasa[i].offline.booking + report.mudik_biasa[i].offline.terdaftar + report.mudik_biasa[i].offline.verified }} </td> <!-- Kuota operatro -->
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].offline.verified }} </td>
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].offline.sisa }} </td>
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].online.disable + report.mudik_biasa[i].offline.disable }} </td>
                            <td *ngIf="report.mudik_biasa[i]"> {{ report.mudik_biasa[i].tanggal }} </td>
                        </tr>
                    </table>
                </mat-tab>
                <mat-tab label="Balik">
                    <table *ngIf="report">
                        <tr>
                            <th>No.</th>
                            <th>Rute</th>
                            <th>Jumlah Kendaraan</th>
                            <th>Total Kuota Mudik</th>
                            <th>Kuota Online</th>
                            <th>Booking Online</th>
                            <th>Approved Online</th>
                            <th>Sisa Online</th>
                            <th>Kuota Operator</th>
                            <th>Approve Operator</th>
                            <th>Sisa Operator</th>
                            <th>Kuota Cadangan</th>
                            <th>Tanggal</th>
                        </tr>
                        <tr *ngFor="let i of jumlah_balik">
                            <td *ngIf="report.balik_biasa[i]"> {{ i + 1 }} </td> <!-- no -->
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].rute }} </td> <!-- rute -->
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].kendaraan }} </td> <!-- kendaran -->
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].total }} </td> <!-- total -->

                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].online.sisa + report.balik_biasa[i].online.booking + report.balik_biasa[i].online.terdaftar + report.balik_biasa[i].online.verified }} </td> <!-- kouta onlien -->
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].online.terdaftar }} </td> <!-- terdaftar -->
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].online.verified }} </td> <!-- approve -->
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].online.sisa }} </td> <!-- sisa -->

                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].offline.sisa + report.balik_biasa[i].offline.booking + report.balik_biasa[i].offline.terdaftar + report.balik_biasa[i].offline.verified }} </td> <!-- Kuota operatro -->
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].offline.verified }} </td>
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].offline.sisa }} </td>
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].online.disable + report.balik_biasa[i].offline.disable }} </td>
                            <td *ngIf="report.balik_biasa[i]"> {{ report.balik_biasa[i].tanggal }} </td>
                        </tr>
                    </table>
                </mat-tab>

                <mat-tab label="Titip Motor Mudik">
                    <table *ngIf="reportMotor">
                        <tr>
                            <th>No.</th>
                            <th>Rute</th>
                            <th>Jumlah Motor</th>
                        </tr>
                        <tr *ngFor="let i of jumlah_mudik_motor">
                            <td *ngIf="report.mudik_motor[i]"> {{ i + 1 }} </td> <!-- no -->
                            <td *ngIf="report.mudik_motor[i]"> {{ reportMotor.mudik[i].kota }} </td> <!-- rute -->
                            <td *ngIf="report.mudik_motor[i]"> {{ reportMotor.mudik[i].total_motor }} </td> <!-- kendaran -->
                        </tr>
                    </table>
                </mat-tab>

                <mat-tab label="Titip Motor Balik">
                    <table *ngIf="reportMotor">
                        <tr>
                            <th>No.</th>
                            <th>Rute</th>
                            <th>Jumlah Motor</th>
                        </tr>
                        <tr *ngFor="let i of jumlah_balik_motor">
                            <td *ngIf="report.balik_motor[i]"> {{ i + 1 }} </td> <!-- no -->
                            <td *ngIf="report.balik_motor[i]"> {{ reportMotor.balik[i].kota }} </td> <!-- rute -->
                            <td *ngIf="report.balik_motor[i]"> {{ reportMotor.balik[i].total_motor }} </td> <!-- kendaran -->
                        </tr>
                    </table>
                </mat-tab>
                <mat-tab label="Statistik">
                    <mat-list>
                        <h3 mat-subheader>Jenis Kelamin</h3>
                        <mat-list-item>
                            <mat-icon mat-list-icon>wc</mat-icon>
                            <h4>Laki-laki : {{report.pemudik.laki_laki}} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon mat-list-icon>wc</mat-icon>
                            <h4>Perempuan : {{report.pemudik.wanita}} </h4>
                        </mat-list-item>
                        <mat-divider> </mat-divider>
                        <h3 mat-subheader>Pekerjaan</h3>
                        <mat-list-item>
                            <h4>Karyawan Swasta / Buruh : {{ report.pemudik.pekerjaan['Karyawan Swasta / Buruh'] }} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>PNS / TNI / Polri / Pensiunan : {{ report.pemudik.pekerjaan['PNS / TNI / Polri / Pensiunan'] }} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>Wiraswasta : {{report.pemudik.pekerjaan['Wiraswasta']}} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>Pembantu Rumah Tangga : {{report.pemudik.pekerjaan['Pembantu Rumah Tangga']}} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>Pelajar / Mahasiswa : {{report.pemudik.pekerjaan['Pelajar / Mahasiswa']}} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>Dokter / Pengacara / Professional : {{report.pemudik.pekerjaan['Dokter / Pengacara / Professional']}} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>Tidak Bekerja / Ibu Rumah Tangga / Lainnya : {{report.pemudik.pekerjaan['Tidak Bekerja / Ibu Rumah Tangga / Lainnya']}} </h4>
                        </mat-list-item>
                        <mat-divider> </mat-divider><!-- 
                        <h3 mat-subheader>Usia</h3>
                        <mat-list-item>
                            <h4>Balita : {{report.pemudik.usia.range_1}} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>usia : {{report.pemudik.pekerjaan.lainnya}} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>Lainnya : {{report.pemudik.pekerjaan.lainnya}} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>Lainnya : {{report.pemudik.pekerjaan.lainnya}} </h4>
                        </mat-list-item>
                        <mat-list-item>
                            <h4>Lainnya : {{report.pemudik.pekerjaan.lainnya}} </h4>
                        </mat-list-item> -->

                    </mat-list>
                </mat-tab>
                <mat-tab label="Persentase">
                    <table *ngIf="report">
                        <tr>
                            <th>Tipe</th>
                            <th>Total</th>
                            <th>Pendaftar Online</th>
                            <th>Persentase Pendaftar Online</th>
                            <th>Pendaftar Offline</th>
                            <th>Persentase Pendaftar Offline</th>
                            <th>Sisa Kuota</th>
                            <th>Persentase Sisa Kuota</th>
                            <th>Grand Total</th>
                            <th>Persentase Grand Total</th>
                        </tr>
                        <tr>
                            <td>Mudik</td>
                            <td>{{report.persentase.mudik.total}}</td>
                            <td>{{report.persentase.mudik.pendaftar_online}}</td>
                            <td>{{report.persentase.mudik.persentase_pendaftar_online}}</td>
                            <td>{{report.persentase.mudik.pendaftar_offline}}</td>
                            <td>{{report.persentase.mudik.persentase_pendaftar_offline}}</td>
                            <td>{{report.persentase.mudik.sisa_kuota}}</td>
                            <td>{{report.persentase.mudik.persentase_sisa_kuota}}</td>
                            <td>{{report.persentase.mudik.grand_total}}</td>
                            <td>{{report.persentase.mudik.persentase_grand_total}}</td>
                        </tr>
                        <tr>
                            <td>Balik</td>
                            <td>{{report.persentase.balik.total}}</td>
                            <td>{{report.persentase.balik.pendaftar_online}}</td>
                            <td>{{report.persentase.balik.persentase_pendaftar_online}}</td>
                            <td>{{report.persentase.balik.pendaftar_offline}}</td>
                            <td>{{report.persentase.balik.persentase_pendaftar_offline}}</td>
                            <td>{{report.persentase.balik.sisa_kuota}}</td>
                            <td>{{report.persentase.balik.persentase_sisa_kuota}}</td>
                            <td>{{report.persentase.balik.grand_total}}</td>
                            <td>{{report.persentase.balik.persentase_grand_total}}</td>
                        </tr>
                    </table>
                </mat-tab>
            </mat-tab-group>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
