@import "src/app/core/scss/fuse";

:host {

    .header {

        @media print {
            display: none !important;
        }

        .search-input-wrapper {
            max-width: 480px;
        }

        .add-product-button{
            background-color: #F96D01;
            margin: 10px 0px !important;
        }

        @include media-breakpoint-down(xs) {
            height: 176px !important;
            min-height: 176px !important;
            max-height: 176px !important;
        }
    }

    .top-bg {
        @include media-breakpoint-down(xs) {
            height: 240px;
        }
    }

    .products-table {
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;

        .mat-header-row {
            min-height: 35px;
            background-color: rgba(0, 0, 0, .12);
        }

        .product {
            position: relative;
            cursor: pointer;
            height: 60px;
        }

        .mat-cell {
            min-width: 0;
            display: flex;
            align-items: center;
        }

        .mat-column-id {
            flex: 0 1 30px;
        }

        .mat-column-jenis, .mat-column-kuota_motor, .mat-column-status {
            display: flex;
            justify-content: center !important;
        }

        // .mat-column-tanggal {
        //     flex: 0 1 20%;
        // }

        .mat-column-keterangan {
            flex: 0 1 20%;
        }

        // .mat-column-kuota_motor {
        //     flex: 0 1 10%;
        // }

        .mat-column-image {
            flex: 0 1 84px;

            .product-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }

        .mat-column-buttons {
            flex: 0 1 80px;
        }

        .quantity-indicator {
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            margin-right: 8px;

            & + span {
                display: inline-block;
                vertical-align: middle;
            }
        }

        .active-icon {
            border-radius: 50%;
        }
    }

    .content-card {

        table, th, td {
            border: 1px solid rgba(0, 0, 0, 0.12) !important;
            border-collapse: collapse !important;
            margin: 10px 10px;
        }
        th, td {
            padding: 10px !important;
            text-align: center !important;
            font-weight: normal !important;
            font-size: 12px !important;
        }

        th {
            background-color: rgba(0, 0, 0, .12);
        }

    }
}
