<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">directions_bus</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Daftar Kendaraan</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <div class="my-12">
                <button fxHide.xs mat-raised-button class="add-product-button m-sm-0" [matMenuTriggerFor]="filter">
                    <span>Filter</span>
                </button>

                <button mat-raised-button class="add-product-button m-sm-0" [matMenuTriggerFor]="option" fxHide fxShow.xs>
                    <span>Option</span>
                </button>

                <mat-menu #option="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="filter">Filter</button>
                    <button mat-menu-item [routerLink]="'/apps/kendaraan/detailKendaraan/new'">Tambah Kendaraan</button>
                </mat-menu>

                <mat-menu #filter="matMenu">
                    <button mat-menu-item  (click)="filterButton('')">Semua</button>
                    <button mat-menu-item [matMenuTriggerFor]="status">Status</button>
                    <button mat-menu-item [matMenuTriggerFor]="tanggal">Tanggal</button>
                    <button mat-menu-item [matMenuTriggerFor]="jenis">Jenis Mudik</button>
                    <button mat-menu-item  (click)="filterButton('Mudik Motor')">Mudik Motor</button>
                </mat-menu>

                <mat-menu #status="matMenu">
                    <button (click)="filterButton('Aktif')" mat-menu-item>Aktif</button>
                    <button (click)="filterButton('Tidak Aktif')" mat-menu-item>Tidak Aktif</button>
                </mat-menu>

                <mat-menu #jenis="matMenu">
                    <button (click)="filterButton('Mudik')" mat-menu-item>Mudik</button>
                    <button (click)="filterButton('Balik')" mat-menu-item>Balik</button>
                </mat-menu>

                <mat-menu #tanggal="matMenu" fusePerfectScrollbar>
                    <button *ngFor="let tgl of dateIndo" (click)="filterButton(tgl[0])" mat-menu-item> {{ tgl[1] }} </button>
                </mat-menu>
            </div>

            <button mat-raised-button fxHide.xs
                    [routerLink]="'/apps/kendaraan/detailKendaraan/new'"
                    class="add-product-button my-12 m-sm-0">
                <span>Tambah Kendaraan</span>
            </button>



        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container cdkColumnDef="id">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>No.</mat-header-cell>
                    <mat-cell *cdkCellDef="let product; let i = index">
                        <p class="text-truncate">{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}.</p>
                    </mat-cell>
                </ng-container>

                <!-- Rute Column -->
                <ng-container cdkColumnDef="rute">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Rute</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <span>{{product.asal}}</span><br>
                        <span>{{product.keterangan}}</span>
                    </mat-cell>
                </ng-container>

                <!-- Tanggal Column -->
                <ng-container cdkColumnDef="tanggal">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxLayoutAlign="start">Tanggal</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxLayoutAlign="start">
                        <p>{{ product.tanggal.substring(8, 11) }} {{ bulan(product.tanggal) }} {{ product.tanggal.substring(0, 4) }}</p>
                    </mat-cell>
                </ng-container>

                <!-- Jenis Rute Column -->
                <ng-container cdkColumnDef="jenis_rute">
                    <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md fxLayoutAlign="center">Jenis</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-md fxLayoutAlign="center">
                        <p class="category text-truncate"> {{product.jenis_rute}} </p>
                    </mat-cell>
                </ng-container>

                <!-- Nomor Column -->
                <ng-container cdkColumnDef="nomor">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxLayoutAlign="center">Nomor Kendaraan</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxLayoutAlign="center">
                        <p class="price text-truncate">
                            {{product.nomor}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Ukuran Column -->
                <ng-container cdkColumnDef="baris_kolom">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs fxLayoutAlign="center">Ukuran</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-xs fxLayoutAlign="center">
                        <p class="price text-truncate">
                            {{product.baris}} X {{product.kolom}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Kapasitas Column -->
                <ng-container cdkColumnDef="sisa">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxLayoutAlign="center">Kuota Sisa</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxLayoutAlign="center">
                        <p class="price text-truncate">
                            {{product.kapasitas.sisa}}
                        </p>
                    </mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="kapasitas">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs fxLayoutAlign="center">Total Kuota</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-xs fxLayoutAlign="center">
                        <p class="price text-truncate">
                            {{product.kuota}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container cdkColumnDef="status">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxLayoutAlign="center">Status</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxLayoutAlign="center">
                        <!-- <mat-icon *ngIf="product.status == 1" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                        <mat-icon *ngIf="product.status == 0" class="active-icon mat-red-500-bg s-16">close</mat-icon> -->
                        <p class="price text-truncate"> {{ product.status }} </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple
                         (click)="clickKendaraan(product.id)">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageSize]="100"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
