<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">people</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Daftar Pemudik</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input [(ngModel)]="search_query" id="search" matInput #filter placeholder="Search" (keyup.enter)="search()">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <div class="my-12">

                <button mat-raised-button
                        (click)="clear()"
                        class="add-product-button m-sm-0">
                    <span>Clear</span>
                </button>
            </div>

            <div class="my-12">
                <button mat-raised-button class="add-product-button m-sm-0" [matMenuTriggerFor]="filter">
                    <span>Filter</span>
                </button>

                <mat-menu #filter="matMenu">
                    <button (click)="filterButton('0')" mat-menu-item>Belum Disetujui</button>
                    <button (click)="filterButton('1')" mat-menu-item>Disetujui</button>
                    <button (click)="filterButton('2')" mat-menu-item>Pending</button>
                    <button (click)="filterButton('3')" mat-menu-item>Hadir</button>
                    <button (click)="filterButton('4')" mat-menu-item>Cancel</button>
                    <button (click)="filterButton('5')" mat-menu-item>Ditolak</button>
                </mat-menu>
                
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort matSortActive="created" matSortDisableClear matSortDirection="asc"
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *cdkCellDef="let product; let i = index">
                        <p class="text-truncate">{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}.</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="kode_tiket">
                  <mat-header-cell *matHeaderCellDef>kode_tiket</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.nomor_tiket }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nama">
                  <mat-header-cell *matHeaderCellDef>Nama</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.nama }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nik">
                  <mat-header-cell *matHeaderCellDef>NIK</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.nik }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="jenis_kelamin">
                  <mat-header-cell *matHeaderCellDef fxHide.xs>Jenis Kelamin</mat-header-cell>
                  <mat-cell *matCellDef="let row" fxHide.xs>{{ row.gender == 1 ? 'Laki-laki' : 'Perempuan' }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="rute">
                  <mat-header-cell *matHeaderCellDef>Rute</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.tiket.rute.kota.asal }} - {{ row.tiket.rute.kota.tujuan }} - {{ row.tiket.rute.keterangan }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="kendaraan">
                  <mat-header-cell *matHeaderCellDef fxHide.xs>Kendaraan</mat-header-cell>
                  <mat-cell *matCellDef="let row" fxHide.xs>{{ row.tiket.kendaraan.nomor }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="kursi">
                  <mat-header-cell *matHeaderCellDef fxHide.xs>Kursi</mat-header-cell>
                  <mat-cell *matCellDef="let row" fxHide.xs>{{ row.kursi }}</mat-cell>
                </ng-container>

                <ng-container cdkColumnDef="status">
                    <mat-header-cell *cdkHeaderCellDef>Status</mat-header-cell>
                    <mat-cell *cdkCellDef="let row">
                        <mat-icon *ngIf="row.status == 5" class="active-icon danger s-16">cancel</mat-icon>
                        <mat-icon *ngIf="row.status == 4" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                        <mat-icon *ngIf="row.status == 3" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                        <mat-icon *ngIf="row.status == 2" class="active-icon danger s-16">warning</mat-icon>
                        <mat-icon *ngIf="row.status == 1" class="active-icon mat-green-600-bg s-16">check</mat-icon>
                        <mat-icon *ngIf="row.status == 0" class="active-icon warning s-16">warning</mat-icon>
                        <p *ngIf="row.status == 5" class="text-truncate">Ditolak</p>
                        <p *ngIf="row.status == 4" class="text-truncate">Cancel</p>
                        <p *ngIf="row.status == 3" class="text-truncate">Hadir</p>
                        <p *ngIf="row.status == 2" class="text-truncate">Pending</p>
                        <p *ngIf="row.status == 1" class="text-truncate">Disetujui</p>
                        <p *ngIf="row.status == 0" class="text-truncate">Belum Disetujui</p>
                        <!-- {{product.status}} -->
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let product; let i = index; columns: displayedColumns;"
                         class="product"
                         matRipple
                         (click)="clickTiket(product.nomor_tiket, product.status)">
                </mat-row>

            </mat-table>

            <mat-paginator [length]="resultsLength" [pageSize]="25">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
