<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">navigation</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Rute</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <!-- <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div> -->
            <!-- / SEARCH -->

            <!-- <button mat-raised-button
                    [routerLink]="'/apps/rute/detailRute/new'"
                    class="add-product-button mat-white-bg my-12 mt-sm-0"
                    [disabled]="hapus">
                <span>Tambah Rute</span>
            </button>

            <button *ngIf="!hapus" 
                    mat-raised-button
                    (click)="toggleHapus()"
                    class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>Hapus</span>
            </button>
            <button *ngIf="hapus" 
                    mat-raised-button
                    (click)="toggleHapus()"
                    class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>Selesai</span>
            </button> -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container cdkColumnDef="id">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>No.</mat-header-cell>
                    <mat-cell *cdkCellDef="let product; let i = index">
                        <p class="text-truncate">{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}.</p>
                    </mat-cell>
                </ng-container>

                <!-- Jenis Column -->
                <ng-container cdkColumnDef="jenis">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Jenis</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-sm>
                        <p class="price text-truncate">
                            {{product.jenis}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Asal Column -->
                <ng-container cdkColumnDef="asal">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Asal</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="text-truncate">{{product.asal}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Tujuan Column -->
                <ng-container cdkColumnDef="tujuan">
                    <mat-header-cell *cdkHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Tujuan</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-md>
                        <p class="category text-truncate"> {{product.tujuan}} </p>
                    </mat-cell>
                </ng-container>

                <!-- Tanggal Column -->
                <ng-container cdkColumnDef="tanggal">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Tanggal</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{ product.tanggal.substring(9, 11) }} {{ bulan(product.tanggal) }} {{ product.tanggal.substring(0, 4) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Kuota Motor Column -->
                <ng-container cdkColumnDef="kuota_motor">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Kuota Motor</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-xs>
                        <span class="quantity-indicator text-truncate"
                              [ngClass]="{'mat-red-500-bg':product.kuota_motor <= 5, 'mat-amber-500-bg':product.kuota_motor > 5 && product.kuota_motor <= 25,'mat-green-600-bg':product.kuota_motor > 25}">
                        </span>
                        <span>
                            {{product.kuota_motor}}
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- Sisa Column -->
                <ng-container cdkColumnDef="sisa">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Kuota Orang</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-xs>
                        <span class="quantity-indicator text-truncate"
                              [ngClass]="{'mat-red-500-bg':product.sisa <= 5, 'mat-amber-500-bg':product.sisa > 5 && product.sisa <= 25,'mat-green-600-bg':product.sisa > 25}">
                        </span>
                        <span>
                            {{product.sisa}}
                        </span>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="25"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
