<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayoutAlign="space-between center">

            <div fxLayout="row" class="print-none" fxLayoutAlign="start center" style="width: 80%; height: 50px !important; min-height: 50px !important;">

                <button class="mr-0 mr-sm-16" mat-icon-button (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{tiket.nomor_tiket}} -
                        <span *ngIf="tiket.status == 0">Belum Disetujui</span>
                        <span *ngIf="tiket.status == 1">Sudah Disetujui</span>
                        <span *ngIf="tiket.status == 2">Pending (Proses Pengisian Data)</span>
                        <span *ngIf="tiket.status == 3">Hadir</span>
                        <span *ngIf="tiket.status == 4">Batal</span>
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Tambah Pemudik
                    </div>
                    <!-- <div class="subtitle secondary-text">
                        <span *ngIf="product.status == 0">Belum Disetujui</span>
                        <span *ngIf="product.status == 1">Sudah Disetujui</span>
                        <span *ngIf="product.status == 2">Pending (Proses Pengisian Data)</span>
                        <span *ngIf="product.status == 3">Hadir</span>
                        <span *ngIf="product.status == 4">Batal</span>
                    </div> -->
                </div>
            </div>

            <button mat-raised-button
                    class="save-product-button mat-green-bg mt-16 mt-sm-0" (click)="print()">
                <span>Print</span>
            </button>
            
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

              <div class="print w-100-p" id="print">
                <div class="box-luar"
                     *ngFor="let i of dewasa">
                    <mat-grid-list cols="8" rowHeight="110px">
                      <mat-grid-tile [colspan]="1">
                        <img src="assets/images/logos/Logo Provinsi Jawa Timur.jpg" width="60" height="80" class="logo-kiri">
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="6" class="header-tengah">
                        <h1>PEMERINTAH PROVINSI JAWA TIMUR</h1>
                        <h1>DINAS PERHUBUNGAN</h1>
                        <h5>Jl. A. Yani 268 Surabaya Telp. (031) 8592376 - 8291530</h5>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1">
                        <img src="assets/images/logos/logo-login.gif" width="80" height="80" class="logo-kanan">
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                    <mat-grid-list cols="6" rowHeight="50px">
                      <mat-grid-tile [colspan]="1"></mat-grid-tile>
                      <mat-grid-tile [colspan]="4" class="header-info">
                        <h5> {{ tiket.rute.kota.asal === 'Surabaya' ? 'TIKET MUDIK ' : 'TIKET BALIK '}} {{ tiket.pemudiks[i].kursi === 'Pemudik Motor' ? 'MOTOR GRATIS' : 'GRATIS'}} </h5>
                        <h5>ANGKUTAN LEBARAN 1439 H / 2018</h5>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1">
                        <div class="jenis-mudik">
                          {{ tiket.rute.kota.asal === 'Surabaya' ? 'TIKET MUDIK ' : 'TIKET BALIK '}} {{ tiket.pemudiks[i].kursi === 'Pemudik Motor' ? 'MOTOR GRATIS' : 'GRATIS'}}
                        </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="3" rowHeight="240px">
                      <div class="watermark">
                        {{ tiket.rute.tanggal.substring(8, 11) }} {{ bulan(tiket.rute.tanggal) }} {{ tiket.rute.tanggal.substring(0, 4) }}
                      </div>
                      <mat-grid-tile [colspan]="2">
                        <table class="table-info-tiket">
                          <tr>
                            <td style="font-weight: bold;">Kode Tiket</td>
                            <td>:</td>
                            <td>{{ tiket.nomor_tiket }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Booking</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i].created_at }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Rute</td>
                            <td>:</td>
                            <td>{{ tiket.rute.kota.asal }} - {{ tiket.rute.kota.tujuan }} - {{ tiket.rute.keterangan }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Tujuan</td>
                            <td>:</td>
                            <td>{{tiket.kota_tujuan}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Berangkat</td>
                            <td>:</td>
                            <td>{{ tiket.rute.tanggal }} - {{ tiket.rute.jam }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Tempat</td>
                            <td>:</td>
                            <td style="overflow: hidden !important;">{{ tiket.rute.tempat_berangkat }}</td>
                          </tr>
                          <tr *ngIf="tiket.pemudiks[i].kursi !== 'Pemudik Motor'">
                            <td style="font-weight: bold;">Kendaraan</td>
                            <td>:</td>
                            <td>{{ tiket.kendaraan.nomor }}</td>
                          </tr>
                          <tr *ngIf="tiket.pemudiks[i].kursi !== 'Pemudik Motor'">
                            <td style="font-weight: bold;">Kursi</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i].kursi }}</td>
                          </tr>
                        </table>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1">
                        <table class="table-info-tiket">
                          <tr>
                            <td style="font-weight: bold;">Nama</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i].nama }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">NIK</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i].nik }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Alamat</td>
                            <td>:</td>
                            <td>{{ tiket.alamat }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Telepon</td>
                            <td>:</td>
                            <td>{{ tiket.telepon }}</td>
                          </tr>
                          <tr *ngIf="tiket.pemudiks[i].sim">
                            <td style="font-weight: bold;">SIM</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i].sim ? tiket.pemudiks[i].sim : '-' }}</td>
                          </tr>
                          <tr *ngIf="tiket.pemudiks[i].stnk">
                            <td style="font-weight: bold;">STNK</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i].stnk ? tiket.pemudiks[i].stnk : '-' }}</td>
                          </tr>
                          <tr *ngIf="tiket.pemudiks[i+tiket.pemudik_dewasa]">
                            <td style="font-weight: bold;">Balita</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i+tiket.pemudik_dewasa].nama }}</td>
                          </tr>
                        </table>
                      </mat-grid-tile>
                      <!-- <mat-grid-tile [colspan]="1">
                        <table *ngIf="tiket.pemudiks[i+tiket.pemudik_dewasa]" class="table-info-tiket">
                          <tr>
                            <td style="font-weight: bold;">Pemudik</td>
                            <td>:</td>
                            <td>Anak-anak {{ i + 1 }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Nama</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i+tiket.pemudik_dewasa].nama }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">NIK</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i+tiket.pemudik_dewasa].nik }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Alamat</td>
                            <td>:</td>
                            <td>{{ tiket.alamat }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Telepon</td>
                            <td>:</td>
                            <td>{{ tiket.telepon }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">SIM</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i+tiket.pemudik_dewasa].sim ? tiket.pemudiks[i+tiket.pemudik_dewasa].sim : '-' }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">STNK</td>
                            <td>:</td>
                            <td>{{ tiket.pemudiks[i+tiket.pemudik_dewasa].stnk ? tiket.pemudiks[i+tiket.pemudik_dewasa].stnk : '-' }}</td>
                          </tr>
                        </table>
                      </mat-grid-tile> -->
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                    <mat-grid-list cols="5" rowHeight="110px">
                      <mat-grid-tile [colspan]="2">
                        <div class="konfirmasi">
                          <h6>Bantuan / Pembatalan :</h6>
                          <h6 *ngIf="tiket.pemudiks[i].kursi !== 'Pemudik Motor'">Harap hadir 60 menit sebelum pemberangkatan</h6>
                          <h6 *ngIf="tiket.pemudiks[i].kursi === 'Pemudik Motor'">MOTOR harap diserahkan pada tanggal 10 Juni 2018 Pukul 07.00 WIB</h6>
                        </div>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" style="margin-top: 0px;">
                        <ngx-qrcode class="qr-code" [qrc-element-type]="elementType" [qrc-value]="tiket.pemudiks[i].nomor_tiket"></ngx-qrcode>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="2">
                        <div class="peringatan">
                          <h6>Apabila pemudik tidak melaporkan pembatalan keberangkatan, maka dapat dikenakan sanksi :</h6>
                          <h6 style="text-decoration: underline; font-weight: bold;">DICORET UNTUK MENJADI PESERTA {{ tiket.rute.kota.asal === 'Surabaya' ? 'MUDIK ' : 'BALIK '}} {{ tiket.pemudiks[i].kursi === 'Pemudik Motor' ? 'MOTOR' : ''}} UNTUK TAHUN BERIKUTNYA</h6>
                        </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                </div>
                <div class="box-luar"
                     *ngFor="let i of dewasa1">
                    <mat-grid-list cols="8" rowHeight="110px">
                      <mat-grid-tile [colspan]="1">
                        <img src="assets/images/logos/Logo Provinsi Jawa Timur.jpg" width="60" height="80" class="logo-kiri">
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="6" class="header-tengah">
                        <h1>PEMERINTAH PROVINSI JAWA TIMUR</h1>
                        <h1>DINAS PERHUBUNGAN</h1>
                        <h5>Jl. A. Yani 268 Surabaya Telp. (031) 8592376 - 8291530</h5>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1">
                        <img src="assets/images/logos/logo-login.gif" width="80" height="80" class="logo-kanan">
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                    <mat-grid-list cols="6" rowHeight="50px">
                      <mat-grid-tile [colspan]="1"></mat-grid-tile>
                      <mat-grid-tile [colspan]="4" class="header-info">
                        <h5> {{ tiket1.rute.kota.asal === 'Surabaya' ? 'TIKET MUDIK ' : 'TIKET BALIK '}} {{ tiket1.pemudiks[i].kursi === 'Pemudik Motor' ? 'MOTOR GRATIS' : 'GRATIS'}} </h5>
                        <h5>ANGKUTAN LEBARAN 1439 H / 2018</h5>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1">
                        <div class="jenis-mudik">
                          {{ tiket1.rute.kota.asal === 'Surabaya' ? 'TIKET MUDIK ' : 'TIKET BALIK '}} {{ tiket1.pemudiks[i].kursi === 'Pemudik Motor' ? 'MOTOR GRATIS' : 'GRATIS'}}
                        </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="3" rowHeight="240px">
                      <div class="watermark">
                        {{ tiket1.rute.tanggal.substring(8, 11) }} {{ bulan(tiket1.rute.tanggal) }} {{ tiket1.rute.tanggal.substring(0, 4) }}
                      </div>
                      <mat-grid-tile [colspan]="2">
                        <table class="table-info-tiket">
                          <tr>
                            <td style="font-weight: bold;">Kode Tiket</td>
                            <td>:</td>
                            <td>{{ tiket1.nomor_tiket }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Booking</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i].created_at }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Rute</td>
                            <td>:</td>
                            <td>{{ tiket1.rute.kota.asal }} - {{ tiket1.rute.kota.tujuan }} - {{ tiket1.rute.keterangan }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Tujuan</td>
                            <td>:</td>
                            <td>{{tiket1.kota_tujuan}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Berangkat</td>
                            <td>:</td>
                            <td>{{ tiket1.rute.tanggal }} - {{ tiket1.rute.jam }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Tempat</td>
                            <td>:</td>
                            <td style="overflow: hidden !important;">{{ tiket1.rute.tempat_berangkat }}</td>
                          </tr>
                          <tr *ngIf="tiket1.pemudiks[i].kursi !== 'Pemudik Motor'">
                            <td style="font-weight: bold;">Kendaraan</td>
                            <td>:</td>
                            <td>{{ tiket1.kendaraan.nomor }}</td>
                          </tr>
                          <tr *ngIf="tiket1.pemudiks[i].kursi !== 'Pemudik Motor'">
                            <td style="font-weight: bold;">Kursi</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i].kursi }}</td>
                          </tr>
                        </table>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1">
                        <table class="table-info-tiket">
                          <tr>
                            <td style="font-weight: bold;">Nama</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i].nama }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">NIK</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i].nik }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Alamat</td>
                            <td>:</td>
                            <td>{{ tiket1.alamat }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Telepon</td>
                            <td>:</td>
                            <td>{{ tiket1.telepon }}</td>
                          </tr>
                          <tr *ngIf="tiket1.pemudiks[i].sim">
                            <td style="font-weight: bold;">SIM</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i].sim ? tiket1.pemudiks[i].sim : '-' }}</td>
                          </tr>
                          <tr *ngIf="tiket1.pemudiks[i].stnk">
                            <td style="font-weight: bold;">STNK</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i].stnk ? tiket1.pemudiks[i].stnk : '-' }}</td>
                          </tr>
                          <tr *ngIf="tiket1.pemudiks[i+tiket1.pemudik_dewasa]">
                            <td style="font-weight: bold;">Balita</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i+tiket1.pemudik_dewasa].nama }}</td>
                          </tr>
                        </table>
                      </mat-grid-tile>
                      <!-- <mat-grid-tile [colspan]="1">
                        <table *ngIf="tiket1.pemudiks[i+tiket1.pemudik_dewasa]" class="table-info-tiket">
                          <tr>
                            <td style="font-weight: bold;">Pemudik</td>
                            <td>:</td>
                            <td>Anak-anak {{ i + 1 }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Nama</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i+tiket1.pemudik_dewasa].nama }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">NIK</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i+tiket1.pemudik_dewasa].nik }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Alamat</td>
                            <td>:</td>
                            <td>{{ tiket1.alamat }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Telepon</td>
                            <td>:</td>
                            <td>{{ tiket1.telepon }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">SIM</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i+tiket1.pemudik_dewasa].sim ? tiket1.pemudiks[i+tiket1.pemudik_dewasa].sim : '-' }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">STNK</td>
                            <td>:</td>
                            <td>{{ tiket1.pemudiks[i+tiket1.pemudik_dewasa].stnk ? tiket1.pemudiks[i+tiket1.pemudik_dewasa].stnk : '-' }}</td>
                          </tr>
                        </table>
                      </mat-grid-tile> -->
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                    <mat-grid-list cols="5" rowHeight="110px">
                      <mat-grid-tile [colspan]="2">
                        <div class="konfirmasi">
                          <h6>Bantuan / Pembatalan :</h6>
                          <h6 *ngIf="tiket1.pemudiks[i].kursi !== 'Pemudik Motor'">Harap hadir 60 menit sebelum pemberangkatan</h6>
                          <h6 *ngIf="tiket1.pemudiks[i].kursi === 'Pemudik Motor'">MOTOR harap diserahkan pada tanggal 10 Juni 2018 Pukul 07.00 WIB</h6>
                        </div>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" style="margin-top: 0px;">
                        <ngx-qrcode class="qr-code" [qrc-element-type]="elementType" [qrc-value]="tiket1.pemudiks[i].nomor_tiket"></ngx-qrcode>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="2">
                        <div class="peringatan">
                          <h6>Apabila pemudik tidak melaporkan pembatalan keberangkatan, maka dapat dikenakan sanksi :</h6>
                          <h6 style="text-decoration: underline; font-weight: bold;">DICORET UNTUK MENJADI PESERTA {{ tiket1.rute.kota.asal === 'Surabaya' ? 'MUDIK ' : 'BALIK '}} {{ tiket1.pemudiks[i].kursi === 'Pemudik Motor' ? 'MOTOR' : ''}} UNTUK TAHUN BERIKUTNYA</h6>
                        </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                </div>
                <div class="box-luar"
                     *ngFor="let i of dewasa2">
                    <mat-grid-list cols="8" rowHeight="110px">
                      <mat-grid-tile [colspan]="1">
                        <img src="assets/images/logos/Logo Provinsi Jawa Timur.jpg" width="60" height="80" class="logo-kiri">
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="6" class="header-tengah">
                        <h1>PEMERINTAH PROVINSI JAWA TIMUR</h1>
                        <h1>DINAS PERHUBUNGAN</h1>
                        <h5>Jl. A. Yani 268 Surabaya Telp. (031) 8592376 - 8291530</h5>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1">
                        <img src="assets/images/logos/logo-login.gif" width="80" height="80" class="logo-kanan">
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                    <mat-grid-list cols="6" rowHeight="50px">
                      <mat-grid-tile [colspan]="1"></mat-grid-tile>
                      <mat-grid-tile [colspan]="4" class="header-info">
                        <h5> {{ tiket2.rute.kota.asal === 'Surabaya' ? 'TIKET MUDIK ' : 'TIKET BALIK '}} {{ tiket2.pemudiks[i].kursi === 'Pemudik Motor' ? 'MOTOR GRATIS' : 'GRATIS'}} </h5>
                        <h5>ANGKUTAN LEBARAN 1439 H / 2018</h5>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1">
                        <div class="jenis-mudik">
                          {{ tiket2.rute.kota.asal === 'Surabaya' ? 'TIKET MUDIK ' : 'TIKET BALIK '}} {{ tiket2.pemudiks[i].kursi === 'Pemudik Motor' ? 'MOTOR GRATIS' : 'GRATIS'}}
                        </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="3" rowHeight="240px">
                      <div class="watermark">
                        {{ tiket2.rute.tanggal.substring(8, 11) }} {{ bulan(tiket2.rute.tanggal) }} {{ tiket2.rute.tanggal.substring(0, 4) }}
                      </div>
                      <mat-grid-tile [colspan]="2">
                        <table class="table-info-tiket">
                          <tr>
                            <td style="font-weight: bold;">Kode Tiket</td>
                            <td>:</td>
                            <td>{{ tiket2.nomor_tiket }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Booking</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i].created_at }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Rute</td>
                            <td>:</td>
                            <td>{{ tiket2.rute.kota.asal }} - {{ tiket2.rute.kota.tujuan }} - {{ tiket2.rute.keterangan }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Tujuan</td>
                            <td>:</td>
                            <td>{{tiket2.kota_tujuan}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Berangkat</td>
                            <td>:</td>
                            <td>{{ tiket2.rute.tanggal }} - {{ tiket2.rute.jam }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Tempat</td>
                            <td>:</td>
                            <td style="overflow: hidden !important;">{{ tiket2.rute.tempat_berangkat }}</td>
                          </tr>
                          <tr *ngIf="tiket2.pemudiks[i].kursi !== 'Pemudik Motor'">
                            <td style="font-weight: bold;">Kendaraan</td>
                            <td>:</td>
                            <td>{{ tiket2.kendaraan.nomor }}</td>
                          </tr>
                          <tr *ngIf="tiket2.pemudiks[i].kursi !== 'Pemudik Motor'">
                            <td style="font-weight: bold;">Kursi</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i].kursi }}</td>
                          </tr>
                        </table>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1">
                        <table class="table-info-tiket">
                          <tr>
                            <td style="font-weight: bold;">Nama</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i].nama }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">NIK</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i].nik }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Alamat</td>
                            <td>:</td>
                            <td>{{ tiket2.alamat }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Telepon</td>
                            <td>:</td>
                            <td>{{ tiket2.telepon }}</td>
                          </tr>
                          <tr *ngIf="tiket2.pemudiks[i].sim">
                            <td style="font-weight: bold;">SIM</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i].sim ? tiket2.pemudiks[i].sim : '-' }}</td>
                          </tr>
                          <tr *ngIf="tiket2.pemudiks[i].stnk">
                            <td style="font-weight: bold;">STNK</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i].stnk ? tiket2.pemudiks[i].stnk : '-' }}</td>
                          </tr>
                          <tr *ngIf="tiket2.pemudiks[i+tiket2.pemudik_dewasa]">
                            <td style="font-weight: bold;">Balita</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i+tiket2.pemudik_dewasa].nama }}</td>
                          </tr>
                        </table>
                      </mat-grid-tile>
                      <!-- <mat-grid-tile [colspan]="1">
                        <table *ngIf="tiket2.pemudiks[i+tiket2.pemudik_dewasa]" class="table-info-tiket">
                          <tr>
                            <td style="font-weight: bold;">Pemudik</td>
                            <td>:</td>
                            <td>Anak-anak {{ i + 1 }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Nama</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i+tiket2.pemudik_dewasa].nama }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">NIK</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i+tiket2.pemudik_dewasa].nik }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Alamat</td>
                            <td>:</td>
                            <td>{{ tiket2.alamat }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Telepon</td>
                            <td>:</td>
                            <td>{{ tiket2.telepon }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">SIM</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i+tiket2.pemudik_dewasa].sim ? tiket2.pemudiks[i+tiket2.pemudik_dewasa].sim : '-' }}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">STNK</td>
                            <td>:</td>
                            <td>{{ tiket2.pemudiks[i+tiket2.pemudik_dewasa].stnk ? tiket2.pemudiks[i+tiket2.pemudik_dewasa].stnk : '-' }}</td>
                          </tr>
                        </table>
                      </mat-grid-tile> -->
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                    <mat-grid-list cols="5" rowHeight="110px">
                      <mat-grid-tile [colspan]="2">
                        <div class="konfirmasi">
                          <h6>Bantuan / Pembatalan :</h6>
                          <h6 *ngIf="tiket2.pemudiks[i].kursi !== 'Pemudik Motor'">Harap hadir 60 menit sebelum pemberangkatan</h6>
                          <h6 *ngIf="tiket2.pemudiks[i].kursi === 'Pemudik Motor'">MOTOR harap diserahkan pada tanggal 10 Juni 2018 Pukul 07.00 WIB</h6>
                        </div>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" style="margin-top: 0px;">
                        <ngx-qrcode class="qr-code" [qrc-element-type]="elementType" [qrc-value]="tiket2.pemudiks[i].nomor_tiket"></ngx-qrcode>
                      </mat-grid-tile>
                      <mat-grid-tile [colspan]="2">
                        <div class="peringatan">
                          <h6>Apabila pemudik tidak melaporkan pembatalan keberangkatan, maka dapat dikenakan sanksi :</h6>
                          <h6 style="text-decoration: underline; font-weight: bold;">DICORET UNTUK MENJADI PESERTA {{ tiket2.rute.kota.asal === 'Surabaya' ? 'MUDIK ' : 'BALIK '}} {{ tiket2.pemudiks[i].kursi === 'Pemudik Motor' ? 'MOTOR' : ''}} UNTUK TAHUN BERIKUTNYA</h6>
                        </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <mat-divider></mat-divider>
                </div>
              </div>


            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
