#product {

    -webkit-print-color-adjust: exact;

    .mat-accent-bg {
        @media print {
            background-color: white !important;
            background-image: none;
        }
    }

    .header {

        @media print {
            display: none !important;
        }

        .subtitle {
            margin: 6px 0 0 0;
        }

    }

    .content {

        display: block;

        .contet-card {
            box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0), 0px 7px 10px 1px rgba(0, 0, 0, 0), 0px 2px 16px 1px rgba(0, 0, 0, 0);
        }

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .qr-code {
            @media print {
                width: 100px;
                height: 100px;
            }
        }

        .mat-grid-list:nth-child(1) {
            @media print {
                height: calc(95px) !important;
            }
        }

        .mat-grid-list:nth-child(3) {
            @media print {
                height: calc(30px) !important;
            }
        }

        .mat-grid-list:nth-child(4) {
            @media print {
                height: (185px) !important;
            }
        }

        .logo-kiri {
            @media print {
                max-height: 70px !important;
                max-width: 50px !important;
            }
        }

        .logo-kanan {
            @media print {
                height: 70px !important;
                width: 70px !important;
            }
        }

        h1, h5, h6 {
            margin: 0px;
        }

        h1 {
            @media print {
                font-size: 20px;
            }
        }

        h5 {
            @media print {
                font-size: 12px;
            }
        }

        h6 {
            @media print {
                font-size: 11px;
            }
        }

        .watermark {
            position: absolute;
            opacity: 0.25;
            font-size: 6em;
            width: 95%;
            text-align: center;
            z-index: 1000;
            margin-top: 2%;
            margin-left: 2.5%;
            border-radius: 5px;
            padding: 30px 10px;
            padding-bottom: 60px;
            border: 1.5px solid rgba(10, 10, 100, 0.2);
            background-color: rgba(10, 10, 100, 0.08);

            @media print {
                font-size: 4em;
                padding: 40px 10px;
            }
        }

        .table-info-tiket {
            text-align: left;
            font-size: 0.9em;
            margin-top: 10px;
            margin-left: 35px;

            @media print {
                font-size: 0.65em;
            }
        }

        .header-info {
            display: inline-block;

            @media print {
                margin-top: 5px !important;
            }
        }

        .jenis-mudik {
            background-color: rgba(10, 10, 100, 0.08);
            font-size: 1.1em;
            border: 1px solid rgba(10, 10, 100, 0.1);
            width: 80% !important;
            border-radius: 4px;

            @media print {
                font-size: 0.8em;
                margin-top: 0px !important;
            }
        }

        .konfirmasi {
            background-color: rgba(10, 10, 100, 0.08);
            font-size: 1.3em;
            border: 1px solid rgba(10, 10, 100, 0.1);
            border-radius: 4px;
            margin-left: 30px;
            text-align: justify !important;
            padding: 5px;
            margin-right: 20px;

            @media print {
                font-size: 1em;
                padding: 3px;
            }
        }

        .peringatan {
            background-color: rgba(10, 10, 100, 0.08);
            font-size: 1.3em;
            border: 1px solid rgba(10, 10, 100, 0.1);
            border-radius: 4px;
            margin-left: 20px;
            text-align: justify !important;
            padding: 5px;
            margin-right: 30px;

            @media print {
                font-size: 1em;
                padding: 3px;
            }
        }

        .mat-grid-tile .mat-figure {
            display: block;
        }

        .mat-grid-tile {
            text-align: center;
            margin-top: 15px;

            @media print {
                margin-top: 10px;
            }
        }

        .box-luar {
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 5px;
            margin: 25px 15px;
        }

        .box-luar:nth-child(3), .box-luar:nth-child(5), .box-luar:nth-child(6), .box-luar:nth-child(7), .box-luar:nth-child(8) {
            @media print {
                margin-top: 200px;
            }
        }

        .box-luar:nth-child(2), .box-luar:nth-child(13), .box-luar:nth-child(14), .box-luar:nth-child(15), .box-luar:nth-child(16),
        .box-luar:nth-child(2), .box-luar:nth-child(9), .box-luar:nth-child(10), .box-luar:nth-child(11), .box-luar:nth-child(12)  {
            @media print {
                margin-top: 200px;
            }
        }

        .box-luar:nth-child(4), .box-luar:nth-child(9), .box-luar:nth-child(10), .box-luar:nth-child(11), .box-luar:nth-child(12),
        .box-luar:nth-child(4), .box-luar:nth-child(13), .box-luar:nth-child(14), .box-luar:nth-child(15), .box-luar:nth-child(16)  {
            @media print {
                margin-top: 200px;
            }
        }

        .box-luar:nth-child(17), .box-luar:nth-child(18), .box-luar:nth-child(19), .box-luar:nth-child(20) {
            @media print {
                margin-top: 200px;
            }
        }

        .header-print {
            display: inline-block;
        }

        .header-tengah {
            display: inline-block;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        .w-100-p {
            margin-bottom: 8px;
        }

        .w-90-p {
            margin-bottom: 8px;
        }

        .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
            margin-right: 10px;
        }

        table {
            border-collapse: initial !important;
            width: initial !important;
        }

        th, td {
            padding: initial !important;
            text-align: initial !important;
            border-bottom: initial !important;
        }

    }

    div.content-card.mat-white-bg {

        @media print {
            box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0), 0px 7px 10px 1px rgba(0, 0, 0, 0), 0px 2px 16px 1px rgba(0, 0, 0, 0);
            -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0), 0px 7px 10px 1px rgba(0, 0, 0, 0), 0px 2px 16px 1px rgba(0, 0, 0, 0);
        }
    }
}