<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">navigation</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Daftar Komentar</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <!-- <button mat-raised-button
                    [routerLink]="'/apps/feedback/detailFeedback/new'"
                    class="add-product-button mat-white-bg my-12 mt-sm-0">
                <span>Tambah Komentar</span>
            </button> -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container cdkColumnDef="id">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>No.</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="text-truncate">{{product.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Tujuan Column -->
                <ng-container cdkColumnDef="nilai">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxShow.gt-md>Nilai</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxShow.gt-md>
                        <p class="category text-truncate"> {{product.nilai}} </p>
                    </mat-cell>
                </ng-container>

                <!-- Asal Column -->
                <ng-container cdkColumnDef="nik">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>NIK</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="text-truncate">{{product.nik}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Tanggal Column -->
                <ng-container cdkColumnDef="comment">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Komentar</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{product.comment}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let product; columns: displayedColumns;"
                         class="product" (click)="clickFeedback(product.id)"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
