#product {

    .header {

        .product-image {
            overflow: hidden;
            width: 56px;
            height: 56px;
            border: 3px solid rgba(0, 0, 0, 0.12);

            img {
                height: 100%;
                width: auto;
                max-width: none;
            }
        }

        .save-product-button{
            background-color: #F96D01;
            margin: 0px 20px;
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        .w-100-p {
            margin-bottom: 8px;
        }

        .w-90-p {
            margin-bottom: 8px;
        }

        .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
            margin-right: 10px;
        }

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-header {
            height: 40px;
            align-items: center;
        }

        .mat-tab-label {
            height: 64px;
        }

        .mat-card .mat-divider.mat-divider-inset {
            position: absolute !important;
        }

        .mat-list .mat-list-item .mat-divider.mat-divider-inset {
            left: 0 !important;
            width: 100% !important;
        }

    }

}
