<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center" style="width: 80%">

                <button class="mr-0 mr-sm-16" mat-icon-button (click)="back()">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit' || pageType === 'salin'">
                        {{contact.label}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Tambah Contact
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detail Contact</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="contactForm.invalid || role < 3"
                    *ngIf="pageType ==='new'" (click)="addContact()" fxHide.xs>
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="saveContact()" fxHide.xs>
                <span>Simpan</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mt-16 mt-sm-0"
                    [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="hapus()" fxHide.xs>
                <span>Hapus</span>
            </button>

            <button mat-icon-button fxHide fxShow.xs [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            
            <mat-menu #menu="matMenu">
              <button mat-menu-item [disabled]="contactForm.invalid || role < 3"
                    *ngIf="pageType ==='new'" (click)="addContact()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="saveContact()">
                <mat-icon>save_alt</mat-icon>
                <span>Simpan</span>
              </button>
              <button mat-menu-item [disabled]="role < 3"
                    *ngIf="pageType ==='edit'" (click)="hapus()">
                <mat-icon>delete_forever</mat-icon>
                <span>Hapus</span>
              </button>
            </mat-menu>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="contactForm" [formGroup]="contactForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <div class="tab-content p-24" fusePerfectScrollbar>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="name"
                                   formControlName="name"
                                   placeholder="nama"
                                   required>
                            <mat-error *ngIf="contactForm.controls.name.invalid">
                              {{contactForm.controls.name.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                            </mat-error>
                            <mat-icon matPrefix> description </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="phone"
                                   formControlName="phone"
                                   placeholder="Nomor Telepon"
                                   rquired>
                            <mat-error *ngIf="contactForm.controls.phone.invalid">
                              {{contactForm.controls.phone.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                            </mat-error>
                            <mat-icon matPrefix> contact_phone </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="link"
                                   formControlName="link"
                                   placeholder="Link WA"
                                   rquired>
                            <mat-error *ngIf="contactForm.controls.link.invalid">
                              {{contactForm.controls.link.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                            </mat-error>
                            <mat-icon matPrefix> link </mat-icon>
                        </mat-form-field>

                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
