@import "src/app/core/scss/fuse";

:host {

    .header {

        .search-input-wrapper {
            max-width: 480px;
        }

        .add-product-button{
            background-color: #F96D01;
        }

        @include media-breakpoint-down(xs) {
            height: 176px !important;
            min-height: 176px !important;
            max-height: 176px !important;
        }
        
    }

    .top-bg {
        @include media-breakpoint-down(xs) {
            height: 240px;
        }
    }

    .content-card {


        .mat-table {
            overflow: auto;
            max-height: 500px;
        }

        .w-100-p {
            margin-bottom: 8px;
        }

        .w-90-p {
            margin-bottom: 8px;
        }

        .mat-form-field-prefix .mat-icon, .mat-form-field-suffix .mat-icon {
            margin-right: 10px;
        }

        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-header {
            height: 40px;
            align-items: center;
        }

        .mat-tab-label {
            height: 64px;
        }

        .products-table {
            flex: 1 1 auto;
            border-bottom: 1px solid rgba(0, 0, 0, .12);
            // overflow: scroll !important;

            .mat-header-row {
                min-height: 35px;
                min-width: 500px;
                background-color: rgba(0, 0, 0, .12);
            }

            .mat-row {
                min-width: 500px;
            }

            .product {
                position: relative;
                cursor: pointer;
                height: 60px;
            }

            .mat-cell {
                // min-width: 500px;
                display: flex;
                align-items: center;
            }

            .mat-column-id {
                min-width: 0;
                flex: 0 1 30px;
            }

            .mat-column-jenis, .mat-column-kuota_motor, .mat-column-status {
                display: flex;
                justify-content: center !important;
            }

            // .mat-column-tanggal {
            //     flex: 0 1 20%;
            // }

            .mat-column-keterangan {
                flex: 0 1 20%;
            }

            // .mat-column-kuota_motor {
            //     flex: 0 1 10%;
            // }

            .mat-column-image {
                flex: 0 1 84px;

                .product-image {
                    width: 52px;
                    height: 52px;
                    border: 1px solid rgba(0, 0, 0, .12);
                }
            }

            .mat-column-buttons {
                flex: 0 1 80px;
            }

            .quantity-indicator {
                display: inline-block;
                vertical-align: middle;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                margin-right: 8px;

                & + span {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .active-icon {
                border-radius: 50%;
            }
        }

    }

}
