<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">navigation</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Daftar Sms</span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-tab-group>

                <mat-tab label="Daftar SMS">
                    <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                        <ng-container cdkColumnDef="id">
                            <mat-header-cell *cdkHeaderCellDef mat-sort-header>No.</mat-header-cell>
                            <mat-cell *cdkCellDef="let sms; let i = index">
                                <p class="text-truncate">{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}.</p>
                            </mat-cell>
                        </ng-container>

                        <ng-container cdkColumnDef="tipe">
                            <mat-header-cell *cdkHeaderCellDef mat-sort-header>Tpe</mat-header-cell>
                            <mat-cell *cdkCellDef="let sms">
                                <p class="text-truncate">{{sms.tipe}}</p>
                            </mat-cell>
                        </ng-container>

                        <ng-container cdkColumnDef="pesan">
                            <mat-header-cell *cdkHeaderCellDef mat-sort-header>Pesan</mat-header-cell>
                            <mat-cell *cdkCellDef="let sms">
                                <p class="category text-truncate"> {{sms.pesan}} </p>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *cdkRowDef="let sms; columns: displayedColumns;"
                                 class="product"
                                 matRipple
                                 (click)="clickSms(sms)">
                        </mat-row>

                    </mat-table>

                    <mat-paginator #paginator
                                   [length]="dataSource.filteredData.length"
                                   [pageSize]="25"
                                   [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </mat-tab>

                <mat-tab label="Kirim Pesan">

                    <form name="pesanForm" [formGroup]="pesanForm" class="product w-100-p" fxLayout="column" fxFlex>

                        <mat-form-field class="w-100-p">
                            <input matInput 
                                   name="telepon"
                                   formControlName="telepon"
                                   placeholder="Telepon"
                                   required>
                            <mat-error *ngIf="pesanForm.controls.telepon.invalid">
                              {{pesanForm.controls.telepon.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                            </mat-error>
                            <mat-icon matPrefix> phone </mat-icon>
                        </mat-form-field>

                        <mat-form-field class="w-100-p">
                            <input matInput
                                   name="pesan"
                                   formControlName="pesan"
                                   placeholder="Pesan"
                                   required>
                            <mat-error *ngIf="pesanForm.controls.pesan.invalid">
                              {{pesanForm.controls.pesan.errors['required'] ? 'Tidak Boleh Kosong': ''}}
                            </mat-error>
                            <mat-icon matPrefix> email </mat-icon>
                        </mat-form-field>

                        <button mat-raised-button
                                [disabled]="pesanForm.invalid || role < 3"
                                (click)="kirim()"
                                style="margin: 10px !important; width: 10% !important;">
                            <span>Kirim</span>
                        </button>

                    </form>

                </mat-tab>

            </mat-tab-group>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
