<div id="products" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

            <!-- APP TITLE -->
            <div class="logo my-12 m-sm-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">navigation</mat-icon>
                <span class="logo-text h1" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Daftar Rute</span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-input-wrapper mx-12 m-md-0"
                 fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <label for="search" class="mr-8">
                    <mat-icon class="secondary-text">search</mat-icon>
                </label>
                <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
                    <input id="search" matInput #filter placeholder="Search">
                </mat-form-field>
            </div>
            <!-- / SEARCH -->

            <div class="my-12">
                <button mat-raised-button class="add-product-button m-sm-0" [matMenuTriggerFor]="filter" fxHide.xs>
                    <span>Filter</span>
                </button>

                <button mat-raised-button class="add-product-button m-sm-0" [matMenuTriggerFor]="option" fxHide fxShow.xs>
                    <span>Option</span>
                </button>

                <mat-menu #option="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="filter">Filter</button>
                    <button mat-menu-item [routerLink]="'/apps/rute/detailRute/new'" [disabled]="role < 3">Tambah Pemudik</button>
                </mat-menu>

                <mat-menu #filter="matMenu">
                    <button mat-menu-item  (click)="filterButton('')">Semua</button>
                    <button mat-menu-item [matMenuTriggerFor]="status">Status</button>
                    <button mat-menu-item [matMenuTriggerFor]="tanggal">Tanggal</button>
                    <button mat-menu-item [matMenuTriggerFor]="jenis">Jenis Mudik</button>
                    <button mat-menu-item  (click)="filterButton('Mudik Motor')">Mudik Motor</button>
                </mat-menu>

                <mat-menu #status="matMenu">
                    <button (click)="filterButton('Siap Mudik')" mat-menu-item>Siap Mudik</button>
                    <button (click)="filterButton('Belum Siap')" mat-menu-item>Belum Siap</button>
                </mat-menu>

                <mat-menu #jenis="matMenu">
                    <button (click)="filterButton('Mudik')" mat-menu-item>Mudik</button>
                    <button (click)="filterButton('Balik')" mat-menu-item>Balik</button>
                </mat-menu>

                <mat-menu #tanggal="matMenu" fusePerfectScrollbar>
                    <button *ngFor="let tgl of dateIndo" (click)="filterButton(tgl[0])" mat-menu-item> {{ tgl[1] }} </button>
                </mat-menu>
            </div>

            <div class="my-12" fxHide.xs>

                <button mat-raised-button
                        [routerLink]="'/apps/rute/detailRute/new'"
                        class="add-product-button m-sm-0"
                        [disabled]="role < 3">
                    <span>Tambah Rute</span>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container cdkColumnDef="id">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>No.</mat-header-cell>
                    <mat-cell *cdkCellDef="let product; let i = index">
                        <p class="text-truncate">{{ (paginator.pageIndex * paginator.pageSize) + (i + 1) }}.</p>
                    </mat-cell>
                </ng-container>

                <!-- Jenis Column -->
                <ng-container cdkColumnDef="jenis">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Jenis</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <img *ngIf="product.jenis === 'Mudik' && product.is_mudik_motor == 0" src="assets/images/avatars/Slice_4.png" style="width: 35px; margin-right: 8px">
                        <img *ngIf="product.jenis === 'Balik' && product.is_mudik_motor == 0" src="assets/images/avatars/Slice_5.png" style="width: 35px; margin-right: 8px">
                        <img *ngIf="product.jenis === 'Mudik' && product.is_mudik_motor == 1" src="assets/images/avatars/motorcycle.png" style="width: 35px; margin-right: 8px">
                        <img *ngIf="product.jenis === 'Balik' && product.is_mudik_motor == 1" src="assets/images/avatars/motorcycle-flip.png" style="width: 35px; margin-right: 8px">
                        <p class="price text-truncate">
                            {{product.jenis}} {{product.is_mudik_motor == 1 ? 'Motor' : ''}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Asal Column -->
                <ng-container cdkColumnDef="asal">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Asal</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="text-truncate" *ngIf="product.kota">{{product.kota.asal}}</p>
                        <p class="text-truncate"></p>
                    </mat-cell>
                </ng-container>

                <!-- Tujuan Column -->
                <ng-container cdkColumnDef="tujuan">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Tujuan</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="text-truncate" *ngIf="product.kota"> {{product.kota.tujuan}} </p>
                        <p class="text-truncate"></p>
                    </mat-cell>
                </ng-container>

                <!-- Tanggal Column -->
                <ng-container cdkColumnDef="tanggal">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Tanggal</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="price text-truncate">
                            {{ product.tanggal.substring(8, 11) }} {{ bulan(product.tanggal) }} {{ product.tanggal.substring(0, 4) }}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Kuota Motor -->
                <ng-container cdkColumnDef="kuota_motor">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Kuota Motor</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-sm>
                        <p class="price text-truncate">
                            {{product.kouta_motor}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Keterangan -->
                <ng-container cdkColumnDef="keterangan">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header>Keterangan</mat-header-cell>
                    <mat-cell *cdkCellDef="let product">
                        <p class="price text-truncate">
                            {{product.keterangan}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container cdkColumnDef="status">
                    <mat-header-cell *cdkHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Status</mat-header-cell>
                    <mat-cell *cdkCellDef="let product" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{product.status}}
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *cdkRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple
                         (click)="clickRute(product.id, product.asal, product.tujuan)">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageSize]="100"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
